<div class="content">

	<div class="content-inner centered">

		<h1>That's all, thanks!</h1>

		<p>Confirmation Number: <%= @purchase.id %></p>

		<p>Price: <%= number_to_currency(@purchase.amount) %></p>

		<br>

		<% if user_signed_in? %>

			<a href="<%= root_path %>" class="button medium red-background">Return Home</a>

		<%else%>

			<a class="button medium modal-cta create-account-modal red-background">Create an Account</a>

		<%end%>

	</div>

</div>

<%= render 'modals/create_account' %>