
<% unless item_art.sold %>
      
    <%= form_tag start_checkout_path do %>

  		<input type="hidden" name="itemID" value="<%# item_art.id %>">

  		<input type="submit" value="Buy for <%# number_to_currency(item_art.price, precision: 0) %>" class="button black-background item-buy-action fixed-bottom-cta mobile-only">

	<%end%>
  
  <%else%>

    <a class="button black-background fixed-bottom-cta mobile-only"><span class="glyphicon glyphicon-ok"  aria-hidden="true" style="margin-right: 5px;"></span>Sold</a>
    
<%end%>

