<div class="image-grid">

	<% items.each do |item| %>

		<%= link_to(item_art_detail_form_path(item.id)) do %>

			<div class="entry <% if columns == 2 %>col-2<%end%>">
				
				<div class="image-container">
					<%= image_tag item.image.url, class: "grid-image"%>

<!-- 					<%# unless image_only %>

					<div class="detail-container">

						<h4><i><%#= item.name %></i></h4>

			    	</div>
			    	
		    		<%#end%> -->

				</div>

				<% unless image_only %>

					<div class="detail-container">

						<h4><i><%= item.name %></i></h4>

						<h4><%= direct_link_to_item_art_path(item.search_code) %></h4>

			    	</div>
			    	
		    	<%end%>
			</div>

		<% end %>

	<% end %>

</div>