<div class="image-grid">

	<% items.each do |item| %>

		<%= link_to(item) do %>

			<div class="entry <% if columns == 2 %>col-2<%end%>">
				
				<div class="image-container">
					<%= image_tag item.image.url, class: "grid-image"%>
				</div>

				<% unless image_only %>

					<div class="detail-container">

						<h4><%= item.name %></h4>

				        <h4><span>Status</span></h4>

			    	</div>
			    	
		    	<%end%>
			</div>

		<% end %>

	<% end %>

</div>