<div class="informational-header mobile-only">

	<div class="column-container"><%= image_tag @item_art.user.image.url(:medium), class: "squared-profile-image" %></div>

	<div class="column-container"><span class="item-name"><%= @item_art.name %></span><br>by <span class="artist-name"><%= link_to @item_art.user.display_name, profile_path(@item_art.user.display_name)%></span></div>

  	<div class="column-container cta">

	  	<% unless @item_art.sold %>
	      
	        <a id="item-buy-cta" class="button green-background large item-buy-action">Buy for <%= number_to_currency(@item_art.price, precision: 0) %></a>
	      
	      <%else%>

	        <a class="button green-background medium"><span class="glyphicon glyphicon-ok"  aria-hidden="true" style="margin-right: 5px;"></span>Sold</a>

		<%end%>

	</div>


</div>

