<% if current_user.item_arts.count == 0 %>

	<div class="empty-cta-container centered">

		<%= link_to "Add Art Works", new_item_art_path, :class => "button blue-background centered" %>
	</div>

<%end%>