<div class="simple-landing-container">

	<form class="outlined">
		
		<h2>Enter Search Code</h2>

		<input type="text" class="dark-text-input" id="home-page-search-code-input" autofocus></input>

		<br>

		<div class="button-container">

			<input value="Search" type="submit" class="button medium blue-background"></input>

		</div>

	</form>

	<span class="divider-text">- OR -</span>

	<div class="button-container">

		<%= link_to "Learn More", about_path, class: "button medium red-background" %>

	</div>

</div>