<section class="home-primary">

	<span class="glyphicon glyphicon-remove dismiss-parent light"></span>


	<form action="/item_search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">

		<ul class="horizontal">
	    <li><input type="text" class="dark-text-input search-code-input" name="search" id="search" placeholder="Enter Search Code" autofocus></li><li><button type="submit" class="button large blue-background search-code-input"><span class="glyphicon glyphicon-search"></span></button></li>

	    <br>
	    <br>
	    
	    

	</form>


</section>

<section class="home-primary">

	<div class="landing-content-container">

		<h2>What is Artagami?</h2>

		<p>Artagami is an eCommerce platform that provides artists the tools to augment their offline exhibitions with engaging landing pages for their artwork and secure online payment processing.</p>

		<p>Using Artagami, artists can quickly create mobile-friendly web pages for their artwork that provide additional information about the artwork and the artist to interested collectors and a simple online purchasing process.</p>

	</div>

</section>

<section class="home-primary">

	<div class="landing-content-container">

		<h2>How Does it Work?</h2>

		<p><b>1. Create a Page for Your Artwork</b> | Upload a photo of your art and provide basic information about the artwork, such as the medium, dimensions, and price. Creating an artwork page generates a unique 4-character Artagmi Search Code (ex. "e4rt")</p>

		<p><b>2. Include the Artagami Search Code with Your Exhibition</b> | Art collectors can access the page you created for your artwork by entering the search code at Artagmi.com.</p>

		<p><b>3. Purchase</b> | After accessing additional information about your artwork on Artagmi a collector may purchase ... using our fast, secure payment process.</p>

		<p><b>4. We Pay You</b> | We pay you directly within 2 days using your preferred payment method.</p>

	</div>

</section>

<section class="home-primary">

	<div class="landing-content-container">

		<h2>Why Use Artagmi?</h2>

		<p>Artagami provides an additional layer of engagement for art collectors .  Artist cannot always be present at their exhibitions.  Furthermore, if their exhibition is in a venue such as a cafe, restaurant, or ... the staff are usually not trained to sell art and probably don't know much about the artwork or the artist.  Artagmi bridges this gap by providing art collectors fast access to additional information about the artwork and the artist, in the artists own words. Seamless integration with commerce as well purchase it if they like what they see.</p>

	</div>

</section>
