<section class="home-primary">

	<span class="glyphicon glyphicon-remove dismiss-parent light"></span>


	<form action="/item_search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">

	    <input type="text" class="dark-text-input" name="search" id="search" placeholder="Search Code" autofocus>

	    <br>
	    <br>
	    
	    <input type="submit" class="button medium blue-background" value="Find Artwork">

	</form>


</section>

<section class="home-primary">

	<h2>Art Meets Life</h2>

	<p>Artagami brings together artists and ... mutual beneficial exchange that beautifies public spaces and increases exposure for artists to sell their art.</p>

</section>
