
Search code area like AirBNB

<h3>Recently Viewed Pieces</h3>
<h4>Pick up where you left off.</h4>
<br>
<h3>Recommended Pieces for You</h3>
<h4>Art pieces recommended based on your taste in art.</h4>
<br>
<h3>New Pieces in Your City</h3>
<h4>Discover new, inspiring pieces close to you.</h4>

