<section class="single-page-landing brand-gradient-background vertical">

	<div class="single-page-landing-container centered">

		<div class="landing-inner">

			<h2>Sell More Art</h2>

			<p class="centered">ArtYam is a full-service eCommerce platform for fine art galleries.</p>

			<br><br>

			<a href="<%= signup_for_galleries_path %>" class="cta red-background button large">Start Your Free Trial</a>

		</div>

	</div>

</section>

<section class="home-primary">

	<div class="landing-content-container">

		<h3>The Easiest Way to Build an Engaging Online Presence</h3>

		<p>ArtYam [can help you share your artistic creations with online shoppers all around the world. Start making a name for yourself as a talented artist in the industry by establishing a professional and attractive presence online. Our system handles the most difficult aspects of running an ecommerce store, giving you more time to focus on your passion.]</p>

	</div>



</section>

<section class="home-primary">

	<div class="landing-content-container">

		<h3>Connect with a Global Network of Collectors</h3>


	</div>



</section>


<section class="home-primary">

	<div class="landing-content-container">

		<h3>A full-service eCommerce Solution</h3>

		<p>Boost sales and grow your art business online with ArtYam. Our dedicated team of professionals guides you through the process from beginning to end, leaving you with a fully functional ecommerce website to sell your art online. [Process orders, manage customers, track inventory and view detailed reports with] ArtYam's superior shopping cart. Best of all, we're ... truly unlimited – no matter how big or small your ....</p>

	</div>



</section>



<section class="home-primary">

	<div class="landing-content-container">

		<h3>Start Growing Your Business Today</h3>

		<div class="grid">

			<div class="grid-item">
				
				<div class="grid-content">
					
					<h5>Promote</h5>
					<p>Share detailed information about your shows, artists, and artwork via email, social media, and across our network of online art collectors!</p>

				</div>

			</div>

			<div class="grid-item">
				
				<div class="grid-content">
					
					<h5>Engage</h5>
					<p>Artyam ... puts together a ... cohesive story about that engages art collectors and ...</p>

				</div>

			</div>

			<div class="grid-item">
				
				<div class="grid-content">
					
					<h5>Sell</h5>
					<p>ArtYam processes payments and ... seamless </p>

				</div>

			</div>


		</div>

	</div>

</section>



<section class="home-primary light-grey-background">

	<div class="landing-content-container">

		<h3>At Your Service</h3>

		<p>We get it, running a gallery is hard work and you're busy! ArtYam provides unlimited, end-to-end service, from every step of the account setup process to communicating with you about .... sales.</p>

		<p>We understand learning how to use new software is not ... so we've hired a team of customer service personnel, professional writers, [art experts], and . that you can rely on to promote your gallery through ArtYam.  You can.. are at your service to [...]. We are available 24/7 by phone, email, text, carrier pigeon - whatever works for you!</p>

	</div>

</section>



<!-- <section class="home-primary">

	<div class="landing-content-container">

		<h3 class="upcase">How it Works</h3>
			
		<h4 class="centered">1. Full-Service Setup</h4>

		<p>When you sign up for ArtYam we will ask you for a few basic details about your gallery and immeditely schedule a call with you to discuss your specific needs and goals within 1 business day. Following our initial call, we will import all of your data to ArtYam within 48 hours, absolutely free. (You also have the option to do it yourself using our easy self-service portal, if you insist).</p>

		<br>

		<h4 class="centered">2. Share</h4>

		<p>Once your ArtYam account is setup, we will provide a summary of custom pages created for your gallery, shows, artwork, and artists that includes [shareable links that can be used on your website, social media, printed materials, or physical display.]  These pages provide art collectors from your promotion efforts, as well as all over the world, to engage with your gallery beyond your phyical location and provides online purchasing options for your work.</p>

		<br>

		<h4 class="centered">3. Sales</h4>

		<p>Your ArtYam tear sheets for your work not only include additional information ... but instant online purchasing options for your artwork as well.  Upon sale of your listed art you will be notified by email as well as by phone from an ArtYam customer service agent.  ArtYam processes all major credit cards and charges no commission.</p>

	</div>

</section> -->




<section class="home-primary">

	<div class="landing-content-container">

		<h3>ArtYam is Built Around Your Life</h3>

		<p>ArtYam is easily accessible from any computer or your mobile device, allowing you to track sales and engagement while at your gallery, home, or on the road.</p>

		<br>

		<h3>Stupid Simple Pricing.</h3>

		<p>$149/month plus a 3.5% credit card processing fee for all sales completed through ArtYam. No limits on the number of pieces you can sell through ArtYam, no commissions, and no hidden costs.</p>

	</div>

</section>



<section class="home-primary dark-grey-background">

	<div class="landing-content-container">

		<h3 class="white-text">Try it Free Today</h3>

		<p class="white-text">We are so convinced ArtYam is the best way for your gallery to engage collectors and sell more art that we are offering all new customers a chance to try out our platform free of charge for 14 days.</p>

		<a href="<%= signup_for_galleries_path %>" class="cta orange-background button large">Start Your Free Trial</a>

	</div>

</section>



<section class="home-primary">

	<div class="landing-content-container">

		<h3>Questions?</h3>

		<p class="centered">Send Us a Message!</p>

		<div class="form-container">

			<%= form_tag question_path do %>

				<% if flash[:notice] %>

					<div class="notice yellow">

						<p class="notice-content yellow">
						  <%= flash[:notice] %>
						</p>

					</div>

				<%end%>

				<div class="field">

					<label>Email</label><br>
					<input type="text" name="email" required>

				</div>
				
				<div class="field">

					<label>Message</label><br>
					<textarea rows="3" name="message" required></textarea>

				</div>

				<input type="submit" class="button large bright-blue-background" value="Send">

			<%end%>


		</div>


	</div>

</section>

