<section class="single-page-landing brand-gradient-background vertical">

	<div class="single-page-landing-container centered">

		<div class="landing-inner">

			<h2>Sell More Art.</h2>

			<p class="centered">ArtYam is a full-service online marketing and ecommerce platform for fine arts galleries.</p>

			<br>

			<a href="<%= signup_for_galleries_path %>" class="cta red-background button large">Start Your Free Trial</a>

		</div>

	</div>

</section>


<section class="home-primary">

	<div class="landing-content-container">

		<h3 class="upcase">ArtYam is the best way to promote and sell fine art online</h3>

		<p>ArtYam helps artists sell more art in non-gallery venues like cafes, retail shops, restaurants, banks, hospitals, etc.</p>

		<p>ArtYam puts artists in control of their marketing in any venue by giving them the tools to directly engage art collectors with information about themselves and their artwork through online tear sheets.  ArtYam also provides payment processing capabilities that enable art collectors to buy artwork on-the-spot, commission-free!</p>

	</div>

</section>


<section class="home-primary">

	<div class="landing-content-container">

		<h3 class="upcase">How it Works</h3>
			
		<h4 class="centered">1. Full-Service Setup</h4>

		<p>When you sign up for ArtYam we will ask you for a few basic details about your gallery and immeditely schedule a call with you to discuss your specific needs and goals within 1 business day. Following our initial call, we will import all of your data to ArtYam within 48 hours, absolutely free. (You also have the option to do it yourself using our easy self-service portal, if you insist).</p>

		<br>

		<h4 class="centered">2. Share</h4>

		<p>Once your ArtYam account is setup, we will provide a summary of custom pages created for your gallery, shows, artwork, and artists that includes [shareable links that can be used on your website, social media, printed materials, or physical display.]  These pages provide art collectors from your promotion efforts, as well as all over the world, to engage with your gallery beyond your phyical location and provides online purchasing options for your work.</p>

		<br>

		<h4 class="centered">3. Sales</h4>

		<p>Your ArtYam tear sheets for your work not only include additional information ... but instant online purchasing options for your artwork as well.  Upon sale of your listed art you will be notified by email as well as by phone from an ArtYam customer service agent.  ArtYam processes all major credit cards and charges no commission.</p>

	</div>

</section>


<section class="home-primary">

	<div class="landing-content-container">

		<h3 class="upcase">At Your Service</h3>

		<p>We're proud of our self-service portal, but we realize that running a gallery is hard work and that learning how to use new software is not your preferred use of time.  That's why ArtYam provides unlimited, end-to-end service, from setting up your account to ... of online sale of your work. You can use our website as much or as little as you want - you're the boss.  Our team of customer service, professional writers, [art experts], and ... are at your service to [...].  We're available 24/7 by phone, email, text, carrier pigeon - whatever works for you!</p>

	</div>

</section>


<section class="home-primary">

	<div class="landing-content-container">

		<h3 class="upcase">Try it Free Today</h3>

		<p>We are so convinced ArtYam is the best way for your gallery to engage collectors and sell more art that we are offering all new customers a chance to try out our platform free of charge for 30 days.</p>

		<a href="<%= signup_for_galleries_path %>" class="cta orange-background button large">Start Your Free Trial</a>

	</div>

</section>


<section class="home-primary">

	<div class="landing-content-container">

		<h3>ArtYam is Built Around Your Life</h3>

		<p>ArtYam is easily accessible from any computer or your mobile device, allowing you to track sales and engagement while at your gallery, home, or on the road.</p>

	</div>

</section>

<section class="home-primary">

	<div class="landing-content-container">

		<h3>Stupid Simple Pricing.</h3>

		<p>$149/month plus a 3.5% credit card processing fee for all sales completed through ArtYam. No limits on the number of pieces you can sell through ArtYam, no commissions, and no hidden costs.</p>

	</div>

</section>

<section class="home-primary">

	<div class="landing-content-container">

		<h3>Questions?</h3>

		<p class="centered">Send Us a Message!</p>

		<div class="form-container">

			<%= form_tag question_path do %>

				<% if flash[:notice] %>

					<div class="notice yellow">

						<p class="notice-content yellow">
						  <%= flash[:notice] %>
						</p>

					</div>

				<%end%>

				<div class="field">

					<label>Email</label><br>
					<input type="text" name="email" required>

				</div>
				
				<div class="field">

					<label>Message</label><br>
					<textarea rows="3" name="message" required></textarea>

				</div>

				<input type="submit" class="button large bright-blue-background" value="Send">

			<%end%>


		</div>


	</div>

</section>

