<section class="single-page-landing brand-gradient-background vertical">

	<div class="single-page-landing-container centered">

		<div class="landing-inner">

			<h2>Sell More Art.</h2>

			<p class="centered">ArtYam is a 24/7 gallery attendent for your public art displays.</p>

			<br>

			<a href="<%= signup_path %>" class="cta red-background button large">Signup for $7/month</a>

		</div>

	</div>

</section>

<section class="home-primary">

	<div class="landing-content-container">

		<h3>If you sell your art in cafes, restaurants, or bars, you need ArtYam.</h3>

		<p>ArtYam was designed to serve artists that sell their art in public venues like cafes, bars, and restaurants.  We understand the challenge of selling your art in a venue whose primary business is not art, where the venue's staff does not know much about you or your artwork.</p>

		<p>ArtYam addresses that challenge by giving everyone that sees your artwork convenient access to additional information about you and your artwork as well as the ability to purchase your artwork directly from you online.</p>

	</div>

</section>

<section class="home-primary">

	<div class="landing-content-container">

		<h3>More Profitable Displays as Easy as 1-2-3</h3>

		<p class="centered"><i>ArtYam makes your public art displays more profitable in 3 steps:</i></p>

		<p><b>1.</b> Upload a photo of your artwork along with a few basic details, such as the title and a description.  ArtYam generates a custom web page for your artwork where anyone can learn more about your artwork and buy the piece directly from you online.</p>

		<%= link_to direct_link_to_item_art_path("62b1") do %>
			
			<div>
				<img class="home-page-sample-artwork" src="https://s3.amazonaws.com/canaryair/home-page-sample-artwork-page.jpg"></img>
				<p class="centered"><%= link_to "ArtYam.com/62b1", direct_link_to_item_art_path("62b1") %> </p>
			</div>

		<%end%>

		<p><b>2.</b> ArtYam provides a short, readable link to the custom web page ArtYam that is easy to include your display, giving everyone that sees your artwork instant access to your ArtYam web page.</p>

		<p><b>3.</b> ArtYam processes payments from all major credit cards and remits the proceeds from the sale of your art to you via direct deposit or check within 2 business days.</p>

	</div>

</section>

<section class="home-primary">

	<div class="landing-content-container">

		<h3>ArtYam is Built Around Your Life</h3>

		<p>ArtYam is easily accessible from any computer or your mobile device, allowing you to track sales and engagement while at your gallery, home, or on the road.</p>

	</div>

</section>

<section class="home-primary">

	<div class="landing-content-container">

		<h3>Stupid Simple Pricing.</h3>

		<p>$7/month plus a 3% credit card processing fee for all sales completed through ArtYam. No limits on the number of pieces you can sell through ArtYam, no commissions, and no hidden costs.</p>

	</div>

</section>


<section class="home-primary">

	<div class="landing-content-container">

		<a href="<%= signup_path %>" class="cta orange-background button large">Signup for $7/month</a>

	</div>

</section>

