<section class="single-page-landing brand-gradient-background vertical">

	<div class="single-page-landing-container centered">

		<div class="landing-inner">

			<h2>Sell More Art.</h2>

			<p>ArtYam provides instant payment processing and engagement tracking for your public art displays.</p>

			<br>

			<a href="<%= signup_path %>" class="cta orange-background button large">I'm an Artist</a>

			<!-- <br>

			<a href="<%# about_path %>" class="cta red-frame button large">Learn More</a> -->

		</div>

	</div>

</section>

<section class="home-primary">

	<div class="landing-content-container">

		<h3>What does ArtYam do?</h3>

		<p>ArtYam helps artists create more profitable public art displays by engaging art collectors with convenient access to additional information about artwork and the artist as well as streamlined contact forms and secure online purchasing options.</p>

	</div>

</section>

<section class="home-primary">

	<div class="landing-content-container">

		<h3>Get Setup in 3 Minutes</h3>

		<p>Upload a photo of your artwork with a few basic details and ArtYam generates custom web pages that can accept credit card payments on your behalf.  ArtYam provides short links to your custom artwork pages that can be easily included in your public art displays in order to engage art collectors with more information about your artwork, yourself, and secure online purchasing options.</p>

		<%= link_to direct_link_to_item_art_path("62b1") do %>
			
			<div>
				<img class="home-page-sample-artwork" src="https://s3.amazonaws.com/canaryair/home-page-sample-artwork.jpg"></img>
				<p class="centered"><%= link_to "ArtYam.com/62b1", direct_link_to_item_art_path("62b1") %> </p>
			</div>

		<%end%>

	</div>

</section>

<section class="home-primary">

	<div class="landing-content-container">

		<h3>ArtYam is Built Around Your Life</h3>

		<p>ArtYam is easily accessible from any computer or your mobile device, allowing you to track sales and engagement while at your gallery, home, or on the road.</p>

	</div>

</section>


<section class="home-primary">

	<div class="landing-content-container">

		<h3>Is ArtYam for me?</h3>

		<p>ArtYam is ideal for artists with public art displays in galleries, cafes, and restaurants, especially where employees are not necessarily trained to sell art and do not know much about the artwork or the artist.</p> 

		<p>We designed ArtYam to facilitate direct communication between artists and art collectors by providing easy access to additional information about you and your artwork, seamlessly integrated with online purchasing options.  ArtYam is the only company that provides these solutions specifically tailored for the needs of artists.</p>

		<a href="<%= signup_path %>" class="cta orange-background button large">Signup</a>

	</div>

</section>

