<section class="single-page-landing brand-gradient-background">

	<div class="single-page-landing-container centered">

		<div class="landing-inner">

		<h2>Sell More Art.</h2>

		<p>ArtYam provides instant payment processing for your art displays in galleries, cafes, and restaurants.</p>

		<br>

		<a href="<%= new_user_registration_path %>" class="cta orange-background button medium">I'm an Artist</a>

		<br>

		<a href="<%= about_path %>" class="cta red-frame button medium">Learn More</a>

		<p><%= link_to "Login", login_path %></p>

		</div>

	</div>

</section>

