<section class="single-page-landing brand-gradient-background vertical">

	<div class="single-page-landing-container centered">

		<div class="landing-inner">

			<h2>Sell More Art.</h2>

			<p>ArtYam provides instant payment processing for your art displays in galleries, cafes, and restaurants.</p>

			<br>

			<a href="<%= signup_path %>" class="cta orange-background button large">I'm an Artist</a>

			<br>

			<a href="<%= about_path %>" class="cta red-frame button large">Learn More</a>

		</div>

	</div>

</section>

<section class="home-primary">

	<div class="landing-content-container">

		<h2>What is ArtYam?</h2>

		<p>ArtYam is ... that .. bridges the gap between art collectors and non-traditional art displays such as restaurants and cafes. artists the ability to engage art collectors through their art displays by setting up secure payment processing, streamlined contact forms, and 3-minute checkout ...</p>

		<p>Using ArtYam artists can create mobile-friendly web pages landing pages for their art displays in galleries, cafes, and restaurants that engage art collectors in real-time with additional information about their artwork and themselves. ArtYam's 3-minute checkout process and follow-up ... ...</p>

	</div>

</section>

<section class="home-primary">

	<div class="landing-content-container">

		<h2>How Does it Work?</h2>

		<p><b>1. Create a Page for Your Artwork</b> | Upload a photo of your art and provide basic information about the artwork, including as the title, medium, dimensions, and price. Creating an artwork page generates a short, readable URL to include in your art displays, social media, etc. <%= link_to "ArtYam.com/" + ItemArt.last.search_code, direct_link_to_item_art_path(ItemArt.last.search_code) %></p>

		<p><b>2. Include ArtYam URL in Your Art Display</b> | Art collectors can quickly access the page you created for your artwork including 3-minute checkout....</p>

		<p><b>3. Purchase</b> | After accessing additional information about your artwork on ArtYam a collector may purchase ... using our fast, secure payment process.</p>

		<p><b>4. We Pay You</b> | We pay you directly within 2 days using your preferred payment method.</p>

	</div>

</section>

<section class="home-primary">

	<div class="landing-content-container">

		<h2>Why Use ArtYam?</h2>

		<p>ArtYam provides an additional layer of engagement to art displays in galleries, cafe, and restaurants, where ... staff are not necessarily trained to sell art and probably don't know much about the artwork or the artist ...  Artist cannot always be present at their art displays. ArtYam bridges this gap by providing art collectors fast access to additional information about the artwork and the artist, in the artists own words. Seamless integration with commerce as well purchase it if they like what they see.</p>

	</div>

</section>

