<section class="single-page-landing brand-gradient-background">

	<div class="single-page-landing-container">

		<%# @hide_header_on_all_devices %>
		<h2>ArtYam</h2>

		<p>ArtYam connects local artists with collectors on a secure ecommerce platform.</p>

		<br>

		<a href="<%= new_user_registration_path %>" class="cta orange-background button medium">I'm an Artist</a>

		<a href="<%= about_path %>" class="cta red-frame button medium">Learn More</a>

		<p class="landing-page-actions"><%= link_to "Login", new_user_session_path %></p>

	</div>



</section>

