<section class="single-page-landing brand-gradient-background">

	<div class="single-page-landing-container">

		<%# @hide_header_on_all_devices %>
		<h2>Buying Local Art, Made Easy.</h2>

		<p>Artagami connects artists and art collectors with a secure ecommerce platform.</p>

		<a href="<%= new_user_registration_path %>" class="cta red-background button medium">Signup</a>

		<a class="cta red-frame button medium">Browse Art</a>

	</div>

</section>

