<section class="single-page-landing">

	<div class="single-page-landing-container">

		<%# @hide_header_on_all_devices %>
		<h2>ArtYam</h2>

		<p>ArtYam is the fastest, simplest way to submit your art to galleries for review.</p>

		<br>

		<a href="<%= new_user_registration_path %>" class="cta orange-background button medium">I'm an Artist</a>

		<a href="<%= about_path %>" class="cta red-frame button medium">Learn More</a>

		<p class="landing-page-actions"><%= link_to "Login", login_path %></p>

	</div>



</section>

