
<% if user_signed_in? %>

	<div class="sidebar-container">

		<%= render 'pages/user/dashboard_side_panel' %>

	</div>


	<div class="dashboard-container">

		<%= render 'pages/user/bank_account_settings' %>

	</div>

<%end%>
	
	