
<% if user_signed_in? %>

	<%= render 'pages/user/dashboard_side_panel' %>

	<div class="dashboard-container">

		<%# render 'pages/user/payment_settings' %>
		<%= StripeUserCustomer.exists?(:user_id => current_user.id) %>
		<p>Customer ID: <%= @customer_id  %></p>

		<p>User ID: <%= current_user.id %></p>

	</div>

<%end%>
	
	