
<% if user_signed_in? %>

	<%= render 'pages/user/dashboard_side_panel' %>

	<div class="dashboard-container">

		<%# render 'pages/user/payment_settings' %>

		<p>Customer ID: <%= current_user.stripe_customer_id %></p>

		<p>User ID: <%= current_user.id %></p>

	</div>

<%end%>
	
	