<% unless user_signed_in? %>
	
	<div class="content">

		<%= render 'pages/basic_landing_page' %>
	
	</div>

<%else%>
	
	<% if current_user.is_artist %>

		<div class="dashboard-content">
			
			<%= render 'pages/artist_dashboard' %>

		</div>

	<% elsif current_user.is_buyer %>

		<div class="content">

			<%= render 'pages/buyer_dashboard' %>

		</div>

	<%end%>

<%end%>