
<% unless user_signed_in? %>
	
	<div class="content">

		<%= render 'pages/basic_landing_page' %>
	
	</div>

<%else%>

	<div class="dashboard-content">

		<div class="content-column sidebar">

			<%= render 'pages/user/dashboard_side_panel' %>

		</div>


		<div class="content-column primary">

			<%= render 'pages/user/dashboard_primary_content' %>

		</div>

	</div>

<%end%>