
<% unless user_signed_in? %>

	<%= render 'pages/basic_landing_page' %>

<%else%>

	<div class="dashboard-content">

		<div class="content-column sidebar full-content">

			<%= render 'pages/user/dashboard_side_panel' %>

		</div>


		<div class="content-column sidebar-content">

			<%= render 'pages/user/warnings' %>


			<div class="content-column primary">

    			XXX

  			</div>

			<div class="content-column secondary left-border">
					XXCCCXX
			</div>

		</div>

	</div>

<%end%>