<section class="single-page-landing brand-gradient-background vertical">

	<div class="single-page-landing-container centered">

		<div class="landing-inner">

			<h2>Sell More Art</h2>

			<p class="centered">ArtYam is a full-service eCommerce platform for fine art galleries.</p>

			<br><br>

			<a href="<%= signup_for_galleries_path %>" class="cta red-background button large">Start Your Free Trial</a>

		</div>

	</div>

</section>


<section class="home-primary">

	<div class="landing-content-container">

		<h3>Life as a New ArtYam Customer</h3>

		<h4 class="centered">1. Full-Service Setup</h4>

		<p>When you sign up for ArtYam we will ask you for a few basic details about your gallery and immeditely schedule a call with you to discuss your specific needs and goals. Following our initial call, we will import all of your data to ArtYam within 48 hours, absolutely free. (You also have the option to do it yourself using our easy self-service portal, if you insist).</p>

		<br>

		<h4 class="centered">2. Share</h4>

		<p>Once your ArtYam account is setup, we will provide a summary of custom pages created for your gallery, shows, artwork, and artists that includes shareable links that can be used on your website, social media, printed materials, or physical display.  These pages provide art collectors from anywhere in the world to engage with your gallery beyond your physical location and provides online purchasing options for your work.</p>

		<br>

		<h4 class="centered">3. Sales</h4>

		<p>Your ArtYam pages instant online purchasing options for your artwork.  Upon sale of your listed art you will be notified by email as well as by phone from an ArtYam customer service agent to work with you to get the art into the hands of the buyer.</p>

		<a href="<%= signup_for_galleries_path %>" class="cta red-background button large">Start Your Free Trial</a>

	</div>


</section>