
<% if user_signed_in? %>

	<div class="sidebar-container">

		<%= render 'pages/user/dashboard_side_panel' %>

	</div>


	<div class="dashboard-container">

		<%= render 'pages/user/dashboard_header' %>

		<%= render 'pages/user/my_work' %>

	</div>


<%end%>
	
	