<div class="simple-landing-container">

	<h2>Awesome! We are excited to help you sell more art.  Tell us more about you so we can get you started right away.</h2>

	<a class="button blue-background">I have an existing art exhibition.</a>

	<a class="button red-background">I want a new art exhibition.</a>


</div>