<div class="dashboard-item" id="artists">

	<%= render 'pages/user/warnings' %>

	<div class="dashboard-actions centered">

		<%= link_to "+ Add a New Artist", new_artist_path, class: "bright-blue-background button medium" %>

	</div>

	<div class="dashboard-section-header">

		<ul>
			<li><a class="click-to-reveal active" data-reveal-panel-id="a-z">A-Z</a></li><li><a class="click-to-reveal" data-reveal-panel-id="recently-added">Recently</a></li><li><a class="click-to-reveal" data-reveal-panel-id="active-show">Active Show</a></li>
		</ul>

	</div>

	<div class="reveal-panel" id="a-z">

		<%= render :partial => 'artists/index_grid', :locals => {:artists =>  current_user.my_artists.sort_by{|e| e[:name]}.reverse, :image_only => false, :columns => 3} %>

	</div>

	<div class="reveal-panel default-off" id="recently-added">

		Recently Added

	</div>

	<div class="reveal-panel default-off" id="active-show">

		Active Show

	</div>

	

</div>