<div class="dashboard-item" id="artists">

	<%= render 'pages/user/warnings' %>

	<div class="dashboard-actions centered">

		<a class="black-background button medium">+ Add an Artist</a>

	</div>

	<h3>All Artists</h3>

	

</div>