<%= render 'pages/user/dashboard_header' %>

<div class="dashboard-item no-nav" id="balance">

	<div class="dasboard-panel-content">

		<h4 class="centered">Next Payment Date: Aug 3, 2016</h4>

		<% if @payments.count > 0 %>

			<% @payments.each do |payment|%>

				<div class="message">

					<%= number_to_currency(payment.amount) %>

				</div>

			<%end%>


		<%else%>

			<div class="nothing-to-see-container">

				<p>No payments yet.</p>

			</div>

		<%end%>

	</div>

</div>