<%= render 'pages/user/dashboard_header' %>

<div class="dashboard-item no-nav" id="balance">

	<div class="dasboard-panel-content">
		

		<h4 class="centered">Next Payment Date: Aug 3, 2016</h4>

		<h4>Previous Payments to You</h4>

		<% if @stripe_transfers %>

			<% @stripe_transfers.each do |transfer|%>

				<div class="message">

					<%= number_to_currency(transfer.amount) %>

					<%= transfer.date %>

					<%= transfer.destination %>

				</div>

			<%end%>


		<%else%>

			<div class="nothing-to-see-container">

				<p>No payments yet.</p>

			</div>

		<%end%>

	</div>

</div>