<div class="dashboard-panel" id="balance-content">

	<%= render 'pages/user/warnings' %>
	
	<h3 class="text-header-underline"><span class="glyphicon glyphicon-usd" aria-hidden="true" style="margin-right: 5px;"></span>Balance</h3>

	<ul>

		<li class="active"><a>Sales</a></li>
		<li><a>Payments to You</a></li>

	</ul>

	<div class="dasboard-panel-content">

	</div>

</div>