<%= render 'pages/user/dashboard_header' %>

<%= render 'pages/user/settings_header' %>

	<div class="dashboard-item" id="bank-accounts">


  		<%= form_tag new_bank_account_path, id: 'bankAccountForm', class: 'edit_user_settings' do %>

  			<% if @defaultaccount %>

				<h3>Current Bank Account: <%=@defaultaccount.bank_name + " •••• •••• •••• " + @defaultaccount.last4 %></h3>
				
				<br>

			<%end%>

			<div class="field">

				<p><b>Bank Location</b></p>

				<select name="country">
		            <option value="US">United States</option>
		           	<option value="CAN">Canada</option>
		        </select>

			</div>

			<br>

			<div class="field">

				<p><b>Name on Account</b></p>

				<input type="text" name="accountHolder"/>

			</div>

			<br>

			<div class="field">

				<p><b>Routing Number</b></p>

				<input type="text" size="9" name="routingNumber" autocomplete="off">

			</div>

			<br>

			<div class="field">

				<p><b>Account Number</b></p>

				<input type="text" size="17" name="accountNumber" autocomplete="off">

			</div>

			<br>

			<div class="field">

				<p><b>Description</b></p>

				<input type="text" size="9" name="description"/>

			</div>

			<br>

			<input type="submit" value="<% if @defaultaccount %>Update Bank Account<%else%>Add Bank Account<%end%>" class= "blue-background medium">

  		<% end %>

  				<%#render'bank_accounts/addbankaccountform'%>

  	</div>