<%= render 'pages/user/dashboard_header' %>

<%= render 'pages/user/settings_header' %>

	<div class="dashboard-item" id="bank-accounts">

		<div class="padded-content">
			
			<% if @accounts %>

				<h3>Current Payout Account:</h3>

				<% @accounts.each do |account| %>

					<div class="dashboard-index">
						<div><%=account.bank_name + " account ending in " + account.last4 %></div>

					</div>

				<%end%>

				<br>

			<%end%>

			<a class="button green-background medium modal-cta new-account-modal"><%if @defaultaccount %>Update Payout Account<%else%>Add Bank Account<%end%></a>

		</div>

  				<%#render'bank_accounts/addbankaccountform'%>

  	</div>

<%= render'modals/new_account_modal'%>