
<div class="dashboard-item">
	
	<%= render 'pages/user/warnings' %>


	<div class="dashboard-soft-section">

		<h4>Engagement</h4>

		XXX


	</div>



	<div class="dashboard-soft-section">
		
		<h4>Sales</h4>

		XXX

	</div>



</div>