<div class="dashboard-fixed-header mobile-only">
				
	<ul class="horizontal full-length header ">

		<li class="dashboard-nav-option active" data-dashboard-item-id="sales"><a>Sales</a></li><li class="dashboard-nav-option" data-dashboard-item-id="portfolio"><a>Portfolio</a></li><li class="dashboard-nav-option" data-dashboard-item-id="submissions"><a>Submissions</a></li>

	</ul>

</div>