
<div class="dashboard-item">
	
	<%= render 'pages/user/warnings' %>

	<h4>Engagement</h4>


	<div class="dashboard-soft-section">

		XXX


	</div>


	<h4>Sales</h4>


	<div class="dashboard-soft-section">

		XXX


	</div>

</div>