
	<!-- <h3 class="dashboard-header-text"><%# @page_title %></h3> -->

<ul class="horizontal full-length">

	<li class="dark-blue-background"><a><%= number_to_currency(current_user.total_revenue) %></a><a>Total Sales</a></li>
	<li class="dark-blue-background"><a><%= current_user.views.count %></a><a>Unique Views</a></li>
	<li class="dark-blue-background"><a><%= current_user.item_arts.count %></a><a>Listed Works</a></li>
	<li class="dark-blue-background"><a>4</a><a>New Sales</a></li>


</ul>

<div class="dashboard-panel-content">

	XXX

</div>