<div class="dashboard-header">

	<h4 class="dashboard-header-text"><%= @page_title %></h4>

	<a class="action" data-method="delete" href='<%= destroy_user_session_path%>'>Logout</a>
	<%# current_user.display_name %>

</div>