
<div class="dashboard-item no-nav" id="works">

	<%# render 'pages/user/warnings' %>
	
	<div class="portfolio-container">

		<% if current_user.item_arts.count > 0 %>
			
			<%= render :partial => 'item_arts/index_grid', :locals => {:items => current_user.item_arts, :image_only => false, :columns => 3} %>

		<%else%>

			<div class="nothing-to-see-container">

				<p class="red">You have not shared any artwork yet. <%= link_to "Add Artwork", new_item_art_path, class: "warning-text-cta" %></p>

			</div>

		<%end%>

	</div>

</div>
