
<div class="dashboard-item" id="works">
  
  <%= render 'pages/user/warnings' %>
  
  <%= render :partial => 'item_arts/index_grid', :locals => {:items =>  current_user.item_arts, :image_only => false, :columns => 3} %>
   
  <%= render 'layouts/add_artwork_cta' %>

</div>





