
<div class="dashboard-fixed-header mobile-only">
				
	<ul class="horizontal full-length header ">

		<li <% if @page == "home"%>class="active"<%end%>><%= link_to "My Submissions", root_path %></li><% if current_user.is_artist %><li <% if @page == "portfolio"%>class="active"<%end%>><%= link_to "Portfolio", portfolio_path %></li><%end%>

	</ul>

</div>

<div class="dashboard-item" id="works">

	<%# render 'pages/user/warnings' %>
	
	<div class="portfolio-container">

		<% if current_user.item_arts.count > 0 %>
			
			<%= render :partial => 'item_arts/index_grid', :locals => {:items => current_user.item_arts, :image_only => false, :columns => 3} %>

		<%else%>

			<div class="nothing-to-see-container">

				<p class="red">You have not shared any artwork yet. <%= link_to "Add Artwork", new_item_art_path, class: "warning-text-cta" %></p>

			</div>

		<%end%>

	</div>

</div>
