<div class="dashboard-panel" id="work-content">

	<%= render 'pages/user/warnings' %>
	
	<h3 class="text-header-underline"><span class="glyphicon glyphicon-picture" aria-hidden="true" style="margin-right: 5px;"></span>Portfolio</h3>

	<div id="portfolio">

		<% current_user.item_arts.each do |item| %>

			<%= link_to(item) do %>
		
				<div class="lightbox">

					<%= image_tag item.image.url, class: "medium-item-image"%>

				</div>

			<% end %>

		<% end %>

	</div>

</div>