
<div class="dashboard-item" id="works">
  
  <%= render 'pages/user/warnings' %>

  	<div class="dashboard-actions centered">

		<a class="black-background button medium">+ Add Work</a>

	</div>

	<div class="dashboard-section-header">

		<ul>
			<li><a class="click-to-reveal active" data-reveal-panel-id="all">All</a></li><li><a class="click-to-reveal" data-reveal-panel-id="for-sale">For Sale</a></li><li><a class="click-to-reveal" data-reveal-panel-id="sold">Sold</a></li>
		</ul>

	</div>

	<div class="reveal-panel" id="all">

		All

	</div>

	<div class="reveal-panel default-off" id="for-sale">

		For Sale

	</div>

	<div class="reveal-panel default-off" id="sold">

		Sold

	</div>


  
  <%= render :partial => 'item_arts/index_grid', :locals => {:items =>  current_user.item_arts.reverse, :image_only => false, :columns => 3} %>
   
  <%= render 'layouts/add_artwork_cta' %>

</div>





