<section class="home-primary">
	
	<h2>Artwork recommended for you</h2>
	
	<div class="portfolio">

		<% current_user.recommended_artwork(10).each do |item| %>
			
			<%= render :partial => 'item_arts/index_show', :locals => {:item => item, :image_only => true} %>

		<%end%>

	</div>

</section>

<section class="home-primary">
	
	<h2>Artists worth exploring</h2>

	<div class="portfolio">

		<% current_user.recommended_artists(6).each do |user| %>
			
			<%= link_to(profile_path(user.display_name)) do %>

				<div class="box">
				<%= image_tag user.image.url(:medium), class: "medium-item-image"%>
				</div>

			<%end%>

		<%end%>

	</div>

</section>

<section class="home-primary">
	<h2>Browse our artwork</h2>
</section>

<section class="home-primary">
	<h2>Browse our artists</h2>
</section>