<%= render 'pages/user/dashboard_header' %>
	
<div class="dashboard-item" id="profile">

	<div class="dashboard-section-header">

		<ul>
			<li><a class="click-to-reveal active" data-reveal-panel-id="login-information">Login</a></li><li><a class="click-to-reveal" data-reveal-panel-id="gallery-profile">About Us</a></li><li><a class="click-to-reveal" data-reveal-panel-id="billing">Billing</a></li>
		</ul>

	</div>


	<div class="reveal-panel dashboard-form" id="login-information">

		<h4>Login Information</h4>

		<%= render 'pages/user/login_settings_form' %>

	</div>


	<div class="reveal-panel dashboard-form default-off" id="gallery-profile">

		<h4>About Your Gallery</h4>

		<%= render 'pages/user/profile_form' %>

	</div>


	<div class="reveal-panel dashboard-form default-off" id="billing">

		<h4>Your Billing Information</h4>

		<%= render 'pages/user/billing_settings_form' %>

	</div>

</div>