
<div class="dashboard-item" id="works">
  
  <%= render 'pages/user/warnings' %>

  	<div class="dashboard-actions centered">

		<a class="black-background button medium" href="<%= new_show_path %>">+ Add Show</a>

		<!-- <a class="black-background button medium">+ Add Festival</a> -->

	</div>

	<div class="dashboard-section-header">

		<ul>
			<li><a class="click-to-reveal active" data-reveal-panel-id="all">Current</a></li><li><a class="click-to-reveal" data-reveal-panel-id="active">Upcoming</a></li><li><a class="click-to-reveal" data-reveal-panel-id="past">Past</a></li>
		</ul>

	</div>

	<div class="reveal-panel" id="all">

		<%= render partial: 'shows/index_grid', :locals => {:shows =>  current_user.gallery_shows.sort_by{|e| e[:name]}.reverse, :image_only => false, :columns => 3} %>

	</div>

	<div class="reveal-panel default-off" id="active">

		Upcoming

	</div>

	<div class="reveal-panel default-off" id="past">

		Past

	</div>


</div>





