
<div class="dashboard-item" id="works">
  
  <%= render 'pages/user/warnings' %>

  	<div class="dashboard-actions centered">

		<a class="black-background button medium">+ Add Show</a>

	</div>

	<h3>All Shows</h3>


</div>





