<% if current_user.is_artist %>

	<% if current_user.item_arts.count == 0 %>

		<div class="notice">

			<p class="notice-content yellow">
				<span class="glyphicon glyphicon-exclamation-sign"></span> You have not uploaded any of your artwork yet. <a class="new-artwork-image-modal modal-cta warning-text-cta">Add Artwork</a> to get started promoting your work using ArtYam.
			</p>

		</div>

	<%end%>


<% elsif current_user.is_gallery %>
	
	<% if current_user.my_artists.count == 0 %>

		<div class="notice">

			<p class="notice-content yellow">
				<span class="glyphicon glyphicon-exclamation-sign"></span> You have not added any artists to ArtYam yet. <a class="new-artwork-image-modal modal-cta warning-text-cta">Add an Artist</a> to get started promoting your artists and their shows.
			</p>

		</div>

	<% elsif current_user.gallery_shows.count == 0 %>

		<div class="notice">

			<p class="notice-content yellow">
				<span class="glyphicon glyphicon-exclamation-sign"></span> You have not listed any of your artists shows on ArtYam yet. <a class="warning-text-cta" href="<%= new_show_path %>">Add a Show</a> to get started promoting your artist's shows and selling their artwork.
			</p>

		</div>


	<% elsif current_user.my_work.count == 0 %>

		<div class="notice">

			<p class="notice-content yellow">
				<span class="glyphicon glyphicon-exclamation-sign"></span> You have not uploaded any of your artist's work yet. <a class="new-artwork-image-modal modal-cta warning-text-cta">Add Artwork</a> to get started selling your artists' work on ArtYam.
			</p>

		</div>

	<%end%>

	


<%end%>