<% if current_user.is_artist %>

	<% if current_user.item_arts.count == 0 %>

		<div class="notice yellow">

			<span class="glyphicon glyphicon-remove dismiss-parent"></span>

			<p class="notice-content">
				<span class="glyphicon glyphicon-exclamation-sign"></span> You have not shared any of your work. <%= link_to "Add Art Works", new_item_art_path, class: "warning-text-cta" %> to promote your work through the ART network.
			</p>

		</div>

	<%end%>

<!-- 	<%# if current_user.exhibitions.count == 0 %>
			
		<div class="notice red">

			<span class="glyphicon glyphicon-remove dismiss-parent"></span>

			<p class="notice-content">
				<span class="glyphicon glyphicon-exclamation-sign"></span>You have not shared  any exhibitions.  <%# link_to "Add Exhibitions", new_exhibition_path %> to promote your exhibitions through the ART network.
			</p>

		</div>

	<%#end%> -->

<%end%>