<div class="context-header-container">

	<div class="context-header-content">

		<a class="return-home red-background" href="<%= root_path %>"><span class="glyphicon glyphicon-chevron-left" style="margin-right: 5px;"></span>Return to Dashboard</a>


		<a class="title">Artagami</a>

	</div>

</div>