<div class="header-container">

	<span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>

	<ul class="header-right">

		<li><a>Signup</a></li>
		<li><a>Login</a></li>

	</ul>

</div>