<div class="header-container">

	<ul class="header-left">

		<li><%= link_to "Art", root_path, class: "header-logo" %></li>

	</ul>

	<ul class="header-right">
		
		<% if user_signed_in? %>

			<li><a data-method="delete" href='<%=destroy_user_session_path%>'>Logout</a></li>

		<% else %>

			<li><%= link_to "Login", new_user_session_path %></li>
			<li><%= link_to "Signup", new_user_registration_path %></li>

		<% end %>
	</ul>

</div>