<div class="modal-container brand-gradient-background vertical mobile-device-only" id="email-to-me-modal">

	<div class="modal-content centered">

		<span class="glyphicon glyphicon-remove dismiss-modal"></span>

		<div class="simple-landing-container">

			<%= form_tag email_to_me_path(item.id), id: 'emailMeForm' do %>

				<input type="text" name="email" class="" required></input>

				<br>

				<input type="submit" class="button large orange-background" value="Send Email">
			   
			<% end %>

		</div>

	</div>

</div>