<div class="modal-container brand-gradient-background vertical mobile-device-only">

	<span class="glyphicon glyphicon-remove dismiss-parent red"></span>

	<div class="modal-content centered">

		<form class="home-search-form" action="/item_search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">

			<ul class="horizontal header-search-form">

				<li><input type="text" class="transparent large-input centered search-code-input" name="search" id="search" placeholder="Search Code" autofocus></li><!-- <li><button type="submit" class="red-background search-code-input"><span class="glyphicon glyphicon-search"></span></button></li> -->

			</ul>

			<br><br>

			<input type="submit" class="orange-background large button" value="Find">
		    
		   
		</form>

	</div>

</div>