<section class="home-primary">

	<div class="landing-content-container">

		<h1>Selling Your Art in Cafés, Restaurants, Banks and Other Venues</h1>

		<p>Selling art in non-gallery venues like cafés, restaurants, banks, etc. is great source of income for artists, particularly those early in their career who have not yet established connections with galleries.</p>

		<p>Selling art in these venues is challenging, but the key to successful shows is getting people to go beyond just admiring your art to learning more about you and your artwork.  Admiration is great and welcome, but it doesn’t pay bills and studio fees.</p>

		<p>ArtYam’s sole focus is helping artists sell their work in these non-traditional venues.  We believe in this goal because we know selling art in non-traditional venues provides critical support to artists before they take the next step to selling in galleries. After many successes helping artists sell their work in non-traditional venues we put together a few of major points an artist should consider before selling their art in non-traditional venue.</p>

		<br>

		<h4>Why Sell in Non-Traditional Venues?</h4>

		<p>Besides the opportunity to make money from selling your art, there are many other benefits to showing your art in a non-gallery venue, especially early an artist’s career; namely, experience and exposure.</p>

		<p>Working with cafes, restaurants, bars, etc. to display your art is a great way to get crucial early experience with the business of being an artist as well interaction with venue owners and potential buyers.  Negotiating a showing in a non-gallery venue is also great practice as this process is generally less intimidating than dealing with an established gallery director.</p>

		<p>Additionally, the exposure an artist can achieve for their work and themselves can help establish the artist their local art scene which can lead to numerous opportunities down the road from galleries, art collectors, and even the media.
		However, [keep the main thing the main thing].  Selling your art requires making the most of your displays by overcoming many of the challenges of dealing with a non-traditional venue. … understanding the reason non-traditional venues … host your art display in the first place.</p>

		<br>

		<h4>The Venue</h4>

		<p>Restaurants, banks and other alternate venues may have many reasons to host exhibits in their spaces. The owners of the business may want to support the local arts community or, even more likely, they may consider that their clientele is interested supporting the local arts community. Alternatively, the venues may simply want to enhance their decor with your art, which will help them do more business.  From the venue’s perspective, they get the best of both worlds: free décor for their business without a permanent commitment to a particular aesthetic.  Many venues want to change their exhibition at least every few months to match the season and/or .</p>

		<p>For this reason alone, the majority of non-gallery venues will not charge you a commission if your art sells. However, this also means they aren’t going to have much motivation to actively promote or sell the work.</p>

		<p class="centered">Bottom line: don’t leave it up to the venue to sell your art.</p>

		<br>

		<h4>Old Advice: Print business cards or postcards for visitors to your venue</h4>

		<p>Since non-gallery venue staff is not trained to sell art and they’re probably not going to be motivated at it.  There’s nothing worse than a patron being interested in a piece of your art, yet the staff not only does not know if the piece is for sale, but does not even know the name of the artist so that the patron can (maybe) research and contact the artist later.</p>
		
		<p>The old advice was to provide a stack of business cards to the venue staff and hope they offer them to visitors that want additional information about you and your art.</p>

		<p>However, even though sites like VistaPrint.com can create relatively inexpensive business cards for you, you’re still relying on the venue staff to remember your business cards and the potential buyer not to lose it before they have a chance to contact you!</p>

		<p>Many artists have reported to us that their business cards have “disappeared” shortly after their showing began.</p>

	</div>

</section>