
<!-- <p>
  <strong>Biography:</strong>
  <%# @artist.biography %>
</p>

<p>
  <strong>Artist statement:</strong>
  <%# @artist.artist_statement %>
</p> -->


<div class="open-page-container">

  <div class="profile-header">

    <div class="profile-header-content">

        <%= image_tag @gallery.image.url(:medium), class: "medium-profile-image"%>

        <br>

        <h2><%= @gallery.name %></h2>

        <p><%= @gallery.city %>, <%= @gallery.state_province %></p>

    </div>

  </div>

  <div class="profile-content">

    <div class="section-header-nav">

      <ul>
        <li><a href="<%# artist_profile_path(@artist.name) %>" class="click-to-reveal">Works</a></li><li><a class="active" href="<%# artist_profile_about_path(@artist.name) %>">About</a></li><li><a href="<%# artist_profile_shows_path(@artist.name) %>">Shows</a></li>
      </ul>

    </div>

  </div>


</div>
