// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

html{

	body{

		background-image: asset-url("seamless_paper_texture.png");

		a{
			color: #224;
		}

		a:hover{
			text-decoration: none;
			color: #444;

		}

		a:focus{
			text-decoration: none;
		}

		h2{
			font-size: 40px;
		}

	}

}