// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content, .dashboard-content{
	
	padding: 50px 30px;
	max-width: 1100px;
	width: 100%;
    margin: 0 auto;
    display: table;


	h2{

		font-weight: 700;
    	font-size: 40px;
    	margin-bottom: 10px;
	}

	h3{

		font-weight: 600;
    	font-size: 30px;
	}


	.content-column{
		vertical-align: top;
		height: 100%;
    	display: inline-block;

    	.left, .right{
    		display: table-cell;
    		vertical-align: middle;

    		h1, h2, h3, h4{
    			margin: 0px;
    		}
    	}

    	.left{
    		width:100%;
    	}

		
	}

	.content-column.sidebar{
		width: 70%;
		max-width: 350px;
		background: #090909;
		min-height: 100%;
		height: auto;
		box-shadow: 1px 0px 3px #000;
	}

	.content-column.sidebar.full-content{
		width: 25%;
		min-width: 25%;
		min-height: 100%;
    	height: auto;
	}

	.content-column.sidebar-content{
		width: 75%;
		min-width: 75%;
		padding: 15px 50px 50px 50px;
    	background: #eee;
    	min-height: 100%;
    	height: auto;
    	
	}

	.content-column.secondary{
		width: 40%;
		min-width: 40%;
		background: #fff;
		padding: 20px;
		display: table-cell;
	}

	.content-column.primary{
		width: 60%;
		min-width: 60%;
		padding: 30px;
    	background: #fff;
    	display: table-cell;
    	
	}



	.content-column.left-border{

		border-left: 1px solid #ccc;

	}

	.content-column.right-border{

		border-right: 1px solid #ccc;
		
	}

	h3{
		padding: 15px 0px;
		color: #111;
		text-shadow: 0px 1px 1px #ccc;
		display: block;
		font-size: 40px;
		letter-spacing: 1.5px;
		margin-bottom: 30px;
	}

	h4{
		font-size: 24px;
		letter-spacing: 0.5px;
		margin-bottom: 10px;
		font-weight: 600;
		padding:10px 0px;
	}

	.text-header-underline{
		border-bottom: 2px solid #333;
		
	}
	
}

.medium-content{

    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    background: #fff;

}

.notice{
	display: block;
	font-size: 20px;
	position: relative;
	box-shadow: 0px 1px 2px #999;
	margin-bottom: 25px;

	.notice-content{
		margin: 0 auto;
		max-width: 1100px;
		padding: 5px 20px;
	}

	.glyphicon-exclamation-sign{
		color: red;
	}
}

.notice.yellow{
	
	background: #ffff99;

}

.notice.red{
	
	background: #ff9999;
	
}

.nothing-to-see-container{
	display: block;
	border-radius: 2px;
	padding: 10px;
	text-align: center;
	max-width: 600px;
    margin: 25px auto;
    font-size: 20px;

    p{

    	background: #ccc;
		border: 1px solid #666;
		color: #333;
		display: block;
		border-radius: 2px;
		padding: 10px;

    }
}

.nothing-to-see-container.no-margin{
	margin: 10px auto;
}

span.dismiss-parent{
    border: 0;
    position: absolute;
    padding:5px;
    right: 0px;
    font-size: 16px;
    font-weight: 200;
    color: #333;
    text-shadow: 0px 1px 2px #ccc;
}

span.dismiss-modal.light, span.dismiss-parent.light{
    font-size: 24px;
    font-weight: 200;
    color: #fff;
    text-shadow: 0px 1px 2px #000;
}

span.dismiss-parent:hover{
    cursor:pointer;
    text-decoration:none;
    webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

}

h3.dashboard-profile-header{
	font-weight:600;
	font-size: 28px;
}


.list-index{
	display:block;
	padding: 20px 0px;
	box-shadow: 0px 2px 2px #666;
}


.dashboard-content{
	padding: 0px;
	width:100%;
	max-width: 100%;
}

.content{
	margin: 0 auto;
	padding: 30px;
}


.medium-profile-image{
	width: 150px;
	height:150px;
	border-radius: 150px;
	border: 2px solid #fff;
}

.medium-item-image{
	width:100%;
	max-width: 100%;
	box-shadow: 0px 2px 2px #999;
}

.small-item-image{
	max-width: 100px;
	box-shadow: 0px 2px 2px #999;
}

.profile-header{
     
    color: #222;

    .profile-header-content{

        padding: 20px 20px 0px 20px;
        max-width: 800px;
        width:100%;
        margin: 0 auto;
        text-align:center;

        p.about{
            max-width: 500px;
            padding: 10px;
            margin: 0 auto;
            width: 100%;
            font-size: 16px;
        }

        h2{
            padding:15px 0px;
            font-size: 48px;
            font-weight: 600;
        }

        .profile-header-image, .profile-header-text{

        	display:table-cell;
        	vertical-align: top;
        }

        .profile-header-image{
        	width: 200px;
        	text-align:center;
        }

        .profile-header-text{
        	text-align:justify

        }
    }

}

.profile-content{
    text-align: center;
    padding:20px;
    max-width: 1000px;
    width:100%;
    margin: 0 auto;
}

.lightbox{
	display: inline-block;
	width: 100%;
	max-width: 31%;
    background: #fff;
    box-shadow: 0px 1px 3px #666;
    border-radius: 2px;
    margin: 0 auto;
    vertical-align: top;
    margin: 5px;
    text-align: center;

    h4{
    	padding: 15px 5px;
    	font-weight: 800;
    }
}

section.home-primary{
	width: 100%;
	background: #000;
	position:relative;
	padding: 50px 20px;
	text-align: center;
	border-bottom: 1px solid #222;

	.dark-text-input{

		font-size: 40px;
	    text-align: center;
	    max-width: 400px;
	    width: 100%;
	    display: inline-block;
	    margin: 0 auto;
	    border: none;
	    border-radius: 3px;
	    background: #333;
	    color: #fff;
	    padding: 10px 0px;

	}

}

h1.light{
	color: #fff;
}

h1.action-header{
	
	margin: 20px 0px;
	font-size: 50px;
    font-weight: 600;

}

div.activity{
	width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background: #fff;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 0px 1px 1px #ccc;
    margin-bottom: 5px;
    
    p{
    	padding: 10px;
    }

    p.sale{
    	background: #bfb;
    }
}


.landing-content-container{
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	position: relative;

	h2{
		font-size: 60px;
		margin-bottom: 20px;
		color: #f9f;
	}

	p{
		
		font-size: 20px;
    	color: #eee;
    	margin-bottom: 20px;
    	text-align: justify;
    	letter-spacing: 0.5px;
	}
}

a.warning-text-cta{
	color: #33b;
	font-weight: 800;
}

a.warning-text-cta:hover{
	color: #66b;
}

.dashboard-panel-content{
	
    padding: 20px;
    background: #fff;
    box-shadow: 0px 2px 1px #ccc;
    border: 1px solid #aaa;
}

.bank-account-form{
	width: 100%;
	max-width:600px;

	td{
		padding: 5px 0px;
	}	
}

.dashboard-table{
	background: #fff;
	display: block;
	font-size: 18px;
	padding: 20px;

	th{
		font-size: 24px;
		padding-bottom: 20px;
	}

	tbody{
		display: block;
	}

	tr{
		display: block;
		border-bottom: 1px solid #ddd;
	}



	td{
		padding: 10px;
	}
}

.dashboard-item{
	display: block;
    padding-top:106px;
    margin: 0 auto;

    background: #fff;
}

.dashboard-item.no-nav{
	padding-top: 56px;
}

.dashboard-item.blank{
	background: none;
	text-align: center;
}

span.badge-number{
	margin: 0 6px;
	background: #eee;
	text-shadow: 0px 1px 0px #ada;
	border-radius: 40px;
	padding: 5px 10px;
	box-shadow: 0px 1px 1px #aaa;
}