// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content, .dashboard-content{
	
	padding: 50px 30px;
	max-width: 1100px;
	width: 100%;
    margin: 0 auto;
    display: table;


	h2{

		font-weight: 700;
    	font-size: 40px;
    	margin-bottom: 10px;
	}

	h3{

		font-weight: 600;
    	font-size: 30px;
	}


	.content-column{
		vertical-align: top;
		height: 100%;
    	display: inline-block;

		.content-panel{

			ul{
        	
	        	list-style-type: none;
	    	    margin: 0;
	    	    padding: 0;
	    	    display: block;

	    		li{

	    			display: block;


	    			background-color: #000;
    				background-image: -webkit-gradient(linear, left top, left bottom, from(#111), to(#111));
    				background-image: -webkit-linear-gradient(top, #111, #111);
    				background-image: -moz-linear-gradient(top, #111, #111);
    				background-image: -ms-linear-gradient(top, #111, #111);
    				background-image: -o-linear-gradient(top, #111, #111);
    				background-image: linear-gradient(top, #111, #111);

	    			border-bottom: 1px solid #000;
    				box-shadow: inset 0px 1px 2px 0px #333;

	    			a{

	    	    		display: block;
	    	    		font-size: 20px;
	    	    		font-weight: 500;
	        			letter-spacing: 1.1px;
	        			padding: 20px;
	                    color: #eee;

	        		}

	        		a.title{
    					font-weight: 600;
    					font-size: 32px;
    					font-family: 'Lobster', cursive;
    				}

	        		a.header-cta.purple{
                        text-shadow: 0px 1px 2px #222;
                        background-color: #AA076B;
                        background-image: -webkit-gradient(linear, left top, left bottom, from(#F20A98), to(#AA076B));
                        background-image: -webkit-linear-gradient(top, #F20A98, #AA076B);
                        background-image: -moz-linear-gradient(top, #F20A98, #AA076B);
                        background-image: -ms-linear-gradient(top, #F20A98, #AA076B);
                        background-image: -o-linear-gradient(top, #F20A98, #AA076B);
                        background-image: linear-gradient(top, #F20A98, #AA076B);
                        color: #fff;
                        border: 1px solid rgba(100, 0, 100, 0.5);
                        box-shadow: inset 0px 1px 2px 0px #FFaaff;
                    }


	        		a:hover{
	        			
	        		}

	        	}

	        	li:first-child{

	        		border-top: 1px solid #333;
	        	}

	        	li:last-child{
	        		
	        		
	        	}

	        	li.dashboard-header{

	        		background-color: #000;
    				background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000));
    				background-image: -webkit-linear-gradient(top, #000, #000);
    				background-image: -moz-linear-gradient(top, #000, #000);
    				background-image: -ms-linear-gradient(top, #000, #000);
    				background-image: -o-linear-gradient(top, #000, #000);
    				background-image: linear-gradient(top, #000, #000);

    				border-bottom: 1px solid #000;
    				

    				a.title{
    					font-weight: 600;
    					font-size: 32px;
    					font-family: 'Lobster', cursive;
    				}

    				a:hover{
    					color: #fff;
    				}

    				
	        	}

	        	li.dashboard-header:hover{

	        		cursor: pointer;

	        		background-color: #000;
    				background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000));
    				background-image: -webkit-linear-gradient(top, #000, #000);
    				background-image: -moz-linear-gradient(top, #000, #000);
    				background-image: -ms-linear-gradient(top, #000, #000);
    				background-image: -o-linear-gradient(top, #000, #000);
    				background-image: linear-gradient(top, #000, #000);
    				box-shadow: none;

    				
	        	}


	        	li.active{

	        		background: #fff;
	        		border-right: none;

    				border-top: 2px solid #eee;
    				border-bottom: 2px solid #eee;
    				box-shadow: none;

	        		a{
	        			
	        			color: #111;
	        			text-shadow: none;
	        			font-weight: 600;
	        		}


	        	}

	        	li.mobile-only{
  					display: none;
				}

	        	li:hover{
	        		cursor: pointer;

	        		box-shadow: none;

	        		background-color: #090909;
    				background-image: -webkit-gradient(linear, left top, left bottom, from(#090909), to(#090909));
    				background-image: -webkit-linear-gradient(top, #090909, #090909);
    				background-image: -moz-linear-gradient(top, #090909, #090909);
    				background-image: -ms-linear-gradient(top, #090909, #090909);
    				background-image: -o-linear-gradient(top, #090909, #090909);
    				background-image: linear-gradient(top, #090909, #090909);


	        		a{
	        			color: #1fddff;

	        		}
	        	}

	        	li.active:hover{

	        		cursor: pointer;

	        		background-color: #fff;
    				background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
    				background-image: -webkit-linear-gradient(top, #fff, #fff);
    				background-image: -moz-linear-gradient(top, #fff, #fff);
    				background-image: -ms-linear-gradient(top, #fff, #fff);
    				background-image: -o-linear-gradient(top, #fff, #fff);
    				background-image: linear-gradient(top, #fff, #fff);

	        		a{
	        			color: #000;
	        			font-weight: 600;

	        		}
	        	}

	        }

		}
	}

	.content-column.sidebar{
		width: 70%;
		max-width: 350px;
		background: #090909;
		min-height: 700px;
		box-shadow: 1px 0px 3px #000;
	}

	.content-column.sidebar.full-content{
		width: 25%;
		min-width: 25%;
	}

	.content-column.sidebar-content{
		width: 75%;
		min-width: 75%;
		padding: 30px;
    	background: #fff;
    	min-height: 700px;
    	
	}

	.content-column.secondary{
		width: 40%;
		min-width: 40%;
		background: #fff;
		padding: 20px;
		display: table-cell;
	}

	.content-column.primary{
		width: 60%;
		min-width: 60%;
		padding: 30px;
    	background: #fff;
    	display: table-cell;
    	
	}

	.content-column.left-border{

		border-left: 1px solid #ccc;

	}

	.content-column.right-border{

		border-right: 1px solid #ccc;
		
	}

	.text-header-underline{
		display: block;
		border-bottom: 2px solid #333;
		padding: 15px 0px;
		color: #111;
		
	}

	h3.text-header-underline{
		font-size: 40px;
		letter-spacing: 1.5px;
		margin-bottom: 30px;
	}

	h4.text-header-underline{
		font-size: 24px;
		letter-spacing: 0.5px;
		margin-bottom: 10px;
		font-weight: 600;
	}
	
}

.medium-content{

    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    border: 1px solid #999;
    box-shadow: 0px 2px 2px #999;

}

.notice{
	display: block;
	font-size: 20px;
	position: relative;
	box-shadow: 0px 1px 2px #999;
	margin-bottom:10px;

	.notice-content{
		margin: 0 auto;
		max-width: 1100px;
		padding: 5px 20px;
	}

	.glyphicon-exclamation-sign{
		color: red;
	}
}

.notice.yellow{
	
	background: #ffff99;

}

.notice.red{
	
	background: #ff9999;
	
}

.nothing-to-see-container{
	background: #ccc;
	border: 1px solid #aaa;
	color: #666;
	display: block;
	border-radius: 2px;
	padding: 10px;
	text-align: center;
	margin-top: 50px;
}

span.dismiss-parent{
    border: 0;
    position: absolute;
    padding:5px;
    right: 0px;
    font-size: 16px;
    font-weight: 200;
    color: #333;
    text-shadow: 0px 1px 2px #ccc;
}

span.dismiss-modal.light, span.dismiss-parent.light{
    font-size: 24px;
    font-weight: 200;
    color: #fff;
    text-shadow: 0px 1px 2px #000;
}

span.dismiss-parent:hover{
    cursor:pointer;
    text-decoration:none;
    webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

}

h3.dashboard-profile-header{
	font-weight:600;
	font-size: 28px;
}


.list-index{
	display:block;
	padding: 20px 0px;
	box-shadow: 0px 2px 2px #666;
}

.dashboard-panel{
	
	ul{

		list-style-type: none;
    	margin: 0;
    	padding: 0;
    	display: inline-block;

		
		li{

			display: inline-block;
    		text-align: center;
            vertical-align: top;
            


			a{

				display: block;
    	    	font-size: 16px;
    	    	font-weight: 600;
        		padding: 5px 10px;
                color: #333;
                letter-spacing: 1.5px;

			}


			a:hover{
				cursor: pointer;
				background: #ddd;
			}

		}

		li.active{
			
			border: 2px solid #333;
			background: #333;
			color: #fff;
			border-bottom: none;

			a{
				color: #fff;
			}
		}

	}

	.dasboard-panel-content{
		padding: 20px;
		border: 2px solid #333;
	}
}

.dashboard-content{
	padding: 0px;
	width:100%;
	max-width: 100%;
}

.content{
	margin: 0px auto;
	padding: 0px;
    box-shadow: 0px 2px 2px #666;
    border: 1px solid #999;
}


.medium-profile-image{
	width: 150px;
	height:150px;
	border-radius: 150px;
	border: 2px solid #fff;
}

.medium-item-image{
	width:100%;
	max-width: 300px;
	box-shadow: 0px 2px 2px #999;
}

.profile-header{
    
    background: #222;
    color: #fff;

    .profile-header-content{

        padding: 20px 20px 0px 20px;
        max-width: 1100px;
        width:100%;
        margin: 0 auto;
        text-align:center;

        p.about{
            max-width: 500px;
            padding: 10px;
            margin: 0 auto;
            width: 100%;
            font-size: 16px;
        }

        h2{
            padding:15px 0px;
            font-size: 48px;
        }
    }

}

.profile-content{
    text-align: center;
    padding:20px;
}

.lightbox{
	display: inline-block;
	width: 100%;
	max-width: 300px;
    padding: 30px;
    background: #fff;
    box-shadow: 0px 1px 3px #666;
    border-radius: 2px;
    margin: 0 auto;
    vertical-align: top;
}

section.home-primary{
	width: 100%;
	background: #000;
	position:relative;
	padding: 50px 20px;
	text-align: center;
	border-bottom: 1px solid #222;

	.dark-text-input{

		font-size: 40px;
	    text-align: center;
	    max-width: 400px;
	    width: 100%;
	    display: inline-block;
	    margin: 0 auto;
	    border: none;
	    border-radius: 3px;
	    background: #333;
	    color: #fff;
	    padding: 10px 0px;

	}

	h2{
		color: #fff;
		text-shadow: 0px 2px 2px #222;
	}
}

h1.light{
	color: #fff;
}

h1.action-header{
	
	margin: 40px 0px;

}