// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content{
	
	padding: 30px;

	h2{

		font-weight: 700;
    	font-size: 40px;
	}
	
}

.medium-content{
	max-width: 900px;
    margin: 0 auto;
}

