// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{

body{
    
    .header-container.mobile-only{
        display: none;
    }

    .header-container{
        
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 999;
        height: 56px;
        padding: 0px;
        background: #323296;
        text-shadow: 0px 1px 1px rgba(200,200,200,0.3);

        .header-content{

            text-align: center;

            form{
                display: inline-block;
            }

            .header-search-form{
                margin: 8px 0px;

                input, button{
                    height: 40px;
                }

                input{
                    text-align: center;
                    font-size: 30px;
                    width: 200px;
                }

                button{
                    font-size: 28px;
                }
            }

            ul{
            	
            	list-style-type: none;
        	    margin: 0;
        	    padding: 0;
        	    display: inline-block;
                line-height: 56px;

        		li{

        			display: inline-block;
        			text-align: center;
                    vertical-align: middle;

        			a{

        	    		display: block;
        	    		font-size: 1.4em;
        	    		font-weight: 500;
            			letter-spacing: 1.1px;
            			padding: 5px 10px;
                        color: #fff;
                        text-shadow: 0px 1px 1px rgba(0,0,0,0.8);
                        margin: 0 5px;
                        line-height: 46px;
                        font-family: 'Lato', sans-serif;

            		}

                    a.header-page-title{
                        color: #fff;
                        font-weight: 600;
                        font-size: 20px;
                        
                    }

                    a.header-return-home{
                        margin: 0px;
                        padding: 5px 15px;
                        color: #fff;
                        font-weight: 600;
                        font-size: 20px;

                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        text-shadow: 0px 1px 1px rgba(0,0,0,0.8);

                    }

                    a.header-return-home:hover{
                        
                        cursor: pointer;
                    }

            		a.header-logo{
        	
        				font-weight: 300;
                        font-size: 32px;
                        font-family: 'Lobster', cursive;
                        color: #fff;
                        text-shadow: 0px 1px 1px rgba(0,0,0,1);

        			}

                    a.mobile-button{
                        font-size: 20px;
                    }

                    a.header-cta.purple{
                        text-shadow: 0px 1px 2px #222;
                        background-color: #AA076B;
                        background-image: -webkit-gradient(linear, left top, left bottom, from(#F20A98), to(#AA076B));
                        background-image: -webkit-linear-gradient(top, #F20A98, #AA076B);
                        background-image: -moz-linear-gradient(top, #F20A98, #AA076B);
                        background-image: -ms-linear-gradient(top, #F20A98, #AA076B);
                        background-image: -o-linear-gradient(top, #F20A98, #AA076B);
                        background-image: linear-gradient(top, #F20A98, #AA076B);
                        color: #fff;
                        border: 1px solid rgba(100, 0, 100, 0.5);
                        box-shadow: inset 0px 1px 2px 0px #FFaaff;
                    }

                    a.mobile-button:hover{
                        cursor: pointer;
                    }

            	}

            }

            ul.header-left{

                float: left;

            }

            ul.header-right{

            	float: right;

            }

        }
    }

    .header-profile-image{
        width: 44px;
        height: 44px;
        border-radius: 45px;
        margin: 0px 5px;
        box-shadow: 0px 1px 2px #222;
        vertical-align: top;
    }

    .mobile-menu-options{
        display: none;
    }

    .context-header-container, .header-container{
   

        .context-header-content{
            text-align: center;
            font-size: 20px;
            color: #fff;

            a{
                line-height: 40px;
                
            }

            a.return-home{
                position:absolute;
                left:0px;
                background-color: #109121;
                color: #fff;
                text-shadow: 0px 1px 1px #111;
                padding: 0px 10px;

            }

            a.return-home:hover{
                
            }

            a.title{
                font-weight: 600;
                font-size: 32px;
                font-family: 'Lobster', cursive;
                color: #fff;
            }

            a.title:hover{
                cursor: pointer;
            }




        }
    }

}

}