// Place all the styles related to the item_arts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.item-art-form-header{
	
	border-top: 2px solid #666;
	padding: 10px 0px;

	.left{
		width:100%;
		display: table-cell;
		padding-right: 15px;
		vertical-align: middle;
		font-size: 36px;

		input{
			width: 100%;

		}
	}

	.right{
		width:300px;
		vertical-align: middle;
		display: table-cell;
		font-size: 36px;
	}

	.price{
		width: 100px;
	}

}

.item-art-form-row{
	
	margin-bottom: 10px;

	.item{
		display: table-cell;

	}

	.dimension{
		max-width: 100px;
		text-align: center;
	}

	.medium{
		font-size: 20px;
		width: 50%;
		min-width: 200px;
	}



}

form.new_item_art{

	input[type="text"], input[type="number"], textarea{
		text-indent: 5px;
		padding: 5px;
		background: #eee;
    	border: 1px solid #aaa;
    	font-weight: 600;
    	width: 100%;
	}

	.dimension-table{
		td{
			padding:5px;
			text-align:center;
			font-weight: 600;
		}
	}

	input[type="text"]:focus, textarea:focus{
		background: #ffdddd;
		outline: 1px solid #6666ff;
	}

	.description{
		width: 100%;
    	resize: none;
    	height: 100px;
	}

}

.item-art-main-image{
	box-shadow: 0px 2px 2px #666;
	max-width: 100%;
    width: 100%;
}

.item-art-medium-image{
	box-shadow: 0px 2px 2px #666;
	max-width: 100px;
    width: 100%;
}

.portfolio{
	text-align: center;
	margin: 0 auto;
	width: 100% !important;
}

.box {
  margin: 5px;
  width: 300px;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline;
}

.box img {
  width: 100%;
}

textarea.description{
	resize: none;
	display: block;
	max-width: 400px;
	width: 100%;
	height: 200px;
}

.small-image{
	max-height: 50px;
}

table.select-item-table{
	
	width: 100%;

	thead{
		th{
			text-align: center;
		}
	}

	tbody{

		box-shadow: 0px 1px 2px #ccc;
		
		tr{

			margin-bottom: -1px;

			td{
				padding: 8px 0px;
				width: 25%;

			}

			td, th{
				text-align: center;
			}
		}

		tr.outlined{
			border: 2px solid #999;
			background: #fff;
		}

		tr.clickable:hover{
			background: #f9f9f9;
		}

		tr.green-background-and-hover, tr.green-background-and-hover:hover{
			background: #01FF70;
			font-weight: 700;
			border-color: #01cc70;
		}
	}
}


input.dimension{
	text-align: center;
}

table.card-form{
	
	margin: 0 auto;
	box-shadow: 0px 1px 2px #999;
	
	tr{
		margin-bottom: -1px;
	}

	td{

	    border: 1px solid #aaa;

	}
	input{
		width: 100%;
		border:none;
		padding: 10px 0px;
		font-size: 20px;
		text-indent: 5px;
	}
}

.item-side-panel{
	padding: 20px;
    box-shadow: 0px 1px 3px #aaa;
    border: 1px solid #bbb;
    background: #ded;
    font-size: 20px;
}

.item-side-panel#info{
	padding: 0px;
    box-shadow: none;
    border: none;
    background: none;
}

table.delivery-detail-form{
	
	input{
		width: 100%;
		padding: 5px 0px;
		font-size: 20px;
		text-indent: 5px;
		margin-bottom: -1px;
	}
}

.clickable{
	
	h4{
		margin: 0px;
	}
}
.clickable:hover{
	cursor: pointer;
}

.sale-index{
    border: 1px solid #bbb;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    margin-bottom: 20px;
}

.sale-index:hover{
	
	background: #bbf;
    border: 1px solid #f66;
}

.sale-index-image{
	display:table-cell;
	vertical-align: top;
}


.sale-index-content{
	display:table-cell;
	vertical-align: top;
	padding: 10px 20px;
}

.item-detail{
	font-size: 20px;
}

.item-main-image-container{
	display: block;
}