// Place all the styles related to the item_arts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.item-art-form-header{
	
	border-top: 2px solid #666;
	padding: 10px 0px;

	.left{
		width:100%;
		display: table-cell;
		padding-right: 15px;
		vertical-align: middle;
		font-size: 36px;

		input{
			width: 100%;

		}
	}

	.right{
		width:300px;
		vertical-align: middle;
		display: table-cell;
		font-size: 36px;
	}

	.price{
		width: 100px;
	}

}

.item-art-form-row{
	
	margin-bottom: 10px;

	.item{
		display: table-cell;

	}

	.dimension{
		max-width: 100px;
		text-align: center;
	}

	.medium{
		font-size: 20px;
		width: 50%;
		min-width: 200px;
	}



}

form.new_item_art{

	input[type="text"], textarea{
		text-indent: 5px;
		padding: 5px;
		background: #eee;
    	border: 1px solid #aaa;
    	font-weight: 600;
    	width: 100%;
	}

	.dimension-table{
		td{
			padding:5px;
			text-align:center;
			font-weight: 600;
		}
	}

	input[type="text"]:focus, textarea:focus{
		background: #ffdddd;
		outline: 1px solid #6666ff;
	}

	.description{
		width: 100%;
    	resize: none;
    	height: 100px;
	}

}

.item-art-main-image{
	max-width: 100%;
	box-shadow: 0px 2px 2px #666;
}

#portfolio{
	text-align: center;
}

input.dimension{
	text-align: center;
}
