// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media only screen and (max-width: 800px) {

	body{

		div.full-menu-options{
			display: none;
		}

		div.mobile-menu-options{
			display: block;
		}

		.content{

			margin: 0 auto;
			border: none;
			box-shadow: none;
			
			.content-column.secondary{
				width: auto;
				min-width: auto;
				display: block;
			}

			.content-column.primary{
				width: auto;
				min-width: auto;
		    	display: block;
		    	
			}

		}
	}

}