// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media only screen and (max-width: 800px) {
	
	html body .header-container .header-content ul {
		li.hide-on-mobile{
			display: none;
		}		    
	}

	html{

		body{

			.landing-content-container{

				h3{
					
					font-size: 2em;

				}

			}

			.page-content-container{
    			
    			border: none;

    			.half-page-content{

    				padding: 10px;
    				width:100%;
    				

			        h4{
			            font-size: 1.5em;
			        }

			    }

			}




			.grid{

			    .grid-item{

			        display: block;
			        width: 100%;
			        float: left;

			        padding: 15px;

			        .grid-content{
			        	width: 100%;
			        	max-width: 600px;
			        	margin: 0 auto;

			        	p{
			        		margin: 0px;
			        	}

			            
			        }

			    }
			}


			.profile-content{
				
				padding:0px;

				.section-header-nav{

					text-align: center !important;
					
					border-top: 2px solid #e5e5e5;

					ul{
						li{
							width: 33.3%;
						}
					}

				}

				.sub-section{
					padding:20px;
				}

			}

			.single-page-landing{

	            .single-page-landing-container{
	                padding: 50px;
	                font-size: 10px;
	            }

			}

			.content-inner{
				box-shadow: none;
				border:none;
			}

			.form-container{

				border:none !important;
				box-shadow: none !important;
			}

			section.home-primary{
				padding: 20px;
			}

			div.message-container{
				padding: 0px;
			}

			.mobile-thumb-cta{
				display: inherit;
			}

			form.edit_user_settings{
	
				text-align: center;

				input{
					margin: 0px auto;
				}
    	
			}

			.mobile-only, .mobile-device-only{
  
  				display: block !important;

			}

			.item-main-image-container{
				
				padding: 10px 20px;

				img.item-art-main-image{

					max-width: 50%;

				}
			}

			.hide-on-mobile{
				display: none !important;
			}

			.dashboard-horizontal-item {
			    display: block;
			    width: auto;
			    padding: 30px 20px;
			}

			.dashboard-item{
				
				padding: 0px;

				top: 0px;

			    .dashboard-index{
			    	margin:0px;
			    }

			    .dashboard-actions{
			    	display: none;
			    }

			    .dashboard-section-header {
    
    				text-align: center;

    			}
				
			}

			.dashboard-item.no-nav {
    			padding-top: 0px;
			}

			.header-container.mobile-only{
        		display: block;
    		}

    		ul.horizontal{
    			
    		}

			.sidebar-container{
				display: none;
			}

			.header-container{
				display: block;

			}

			


			.context-header-container{
				display: none;
			}

			.dashboard-container{

				margin: 0px;

				.dashboard-panel{
	        		padding: 30px 10px;
	        	}

        	}

        	.dashboard-header{

        		text-align: center;
        		display: block;
        		display: none;
        	}

			.content-container{

  				padding-top: 56px;
  			
			}

			.profile-header{
    
	    		.profile-header-content{

					.profile-header-image, .profile-header-text{

			        	display:block;
			        	width: auto;
			        	text-align: center;
			        }

			    }

			}


			.mobile-action-footer-container{
				display: block;
			}

			.button-container{
				text-align: center;
			}

			.image-input-container{
				margin: 0px;
			}

			.mobile-only{
				display: block;
			}

			div.full-menu-options{
				display: none;
			}

			div.mobile-menu-options{
				display: block;
			}

			.lightbox{
				
				max-width: none;

				width:49%;

				.medium-item-image{

					max-width: none;

				}

			}

			.content{

				margin: 0 auto;
				border: none;
				box-shadow: none;
				padding: 10px;

				.content-column.secondary{
					width: auto;
					min-width: auto;
					display: block;
					border: none;
					padding: 10px;
				}

				.content-column.primary{
					width: auto;
					min-width: auto;
			    	display: block;
			    	border: none;
			    	padding: 10px;
			    	
				}

				.content-column.primary.has-mobile-header{
					padding: 0px;
					padding-top: 175px;
				}

			}

			.content.has-fixed-bottom-cta{
				padding-bottom: 100px;
			}

			.dashboard-content{
				
				.content-column.sidebar-content{
					width: auto;
					min-width: auto;
					display: block;
				}

				.content-column.sidebar.full-content{
					display: none;
				}


				.content-column{

					.content-panel{

						ul{

				        	li.mobile-only{
			  					display: block;
							}

						}
					}

				}

			}

		}

	}

}

@media only screen and (max-device-width: 800px) {

	html{

		body{
			
			.mobile-device-only{
				display: inherit;
			}

		}

	}

}

@media only screen and (max-width: 800px) {

	html{

		body{

			a.button.medium{
				display: block;
				max-width: 100%;
				width: 300px;
				margin: 0px auto 30px auto;
			}

			.single-page-landing{

				

				p.landing-page-actions{
	        		text-align: center;
	    		}

    		}



    		.image-grid{

			    .entry{
			        display: table-cell;
			        width: 50%;
			        float: left;

			        padding: 15px;

			        .image-container{
			           	
			        }

			        .detail-container{
			        	text-align: center;
			        }

			    }

			}

			div.table-stats{

				div.table-entry{
					
					width:100%;
					padding:0px 10px;
					margin-top: -1px;

					div.table-data{
						padding: 10px;
						border: 1px solid #bbb;
						background: #fff;
						box-shadow: 0px 2px 1px rgba(100,100,100,0.4);

						h4{
							margin: 0;
						}

					}

				}
			}




		}


	}

}


@media only screen and (max-width: 1025px) {

	html{

		body{

			.fixed-bottom-cta{
				display: block !important;
			}

    		.image-grid{

    			float: left;

			    .entry{
			        display: table-cell;
			        width: 50%;
			        float: left;

			        padding: 15px;

			        .image-container{
			           	
			        }

			    }

			}

			.artwork-container {


				.artwork-info {
					display: none;
				}

				.artwork-image{
					margin: 0;
					padding: 0px;

					.artwork-image-container{
						padding: 0px;

						.artwork-actions{
							
						}

						.artwork-main-image{
							width: 100%;
						}

					}

				}

				.artwork-detailed-summary{
					margin: 0px;
					padding: 0px;

					
					.artwork-summary-section{

						padding: 30px 20px 20px 20px;
						border: none;
						border-bottom: 1px solid #e5e5e5;

						h3{
							font-size: 1.5em;
							text-shadow: none;
						}

						.artwork-summary-section-header{
							display: none;
						}

						.artwork-summary-section-body{
							padding: 0px;
						}

						.outbound-link{
							border:none;
							font-size: 1.2em;
							margin: 0px;
						}


					}

					.artwork-summary-section.full-size{
						display: none !important;
					}

					.artwork-summary-section.for-mobile-only{
						display: block !important;
					}

				}


			} 

			
		}


	}

	

}





@media only screen and (max-width: 600px) {

	html{

		body{


    		.image-grid{

			    .entry{
			        display: block;
			        width: 100%;
			        height: auto;

			        .image-container{
			            
			        }



			    }

			}

			

		}


	}

}


