// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.new_message{
	
	padding: 20px;

	input[type="text"], textarea{
		width: 100%;
	}

	textarea{
		resize: none;
		height: 100px;
	}
}

table.inbox{
	
	display: block;
	font-size: 16px;
	border: 1px solid #aaa;

	color: #666;

	tbody{

		display: block;

		tr{
			padding: 10px 0px;
			display: block;
			border-bottom: 1px solid #aaa;


			td{
				padding: 0px 15px;

				span.message-list-subject{
					font-weight: 600;
					padding-right: 10px;
				}

				span.message-list-sender{
					font-weight: 600;
				}
			}
		}

		tr:last-child{
			border-bottom: none;
		}

		tr:hover{
			background: #eee;
			cursor: pointer;
		}

	}
}

div.message{
	padding: 10px;	
	border: 1px solid #bbb;
    box-shadow: 0px 1px 1px #ccc;
    background: #fff;
}

div.message:hover{
	background: #bbf;
	box-shadow: none;
	border: 1px solid #f66;
	cursor: pointer;
}

div.message-index{
	padding: 10px;	
	border: 1px solid #bbb;
    box-shadow: 0px 1px 1px #ccc;
    margin-bottom: -1px;
    background: #fff;
}


.message-sender, .message-text, .message-date, .message-action{
	
	display: table-cell;
	vertical-align: middle;
	padding:5px;

	span.message-list-subject{
		font-weight: 600;
		font-size: 16px;
		padding-right: 10px;
	}

	span.message-list-sender{
		font-weight: 600;
		font-size: 16px;
	}

}

.message-sender, .message-action{
	width:100px;
}

.message-text{
	width: 80%;
}

