// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal-container{
	position: fixed;
	left:0;
	right:0;
	top:0px;
	bottom:0px;
	height:100%;
	width:100%;
    display: none;
    vertical-overflow:hidden;
    z-index: 999999999999;
    background: rgba(30,30,30,0.95);

}



.modal-container.dark{

    background: rgba(30, 30, 30, 0.97);

}

.modal-content{
	max-width:500px;
	width:100%;
	margin:0 auto;
	z-index: 100;
	position:relative;

    background: none;
    border-radius: 2px;

    padding: 0px 20px;
    top: 50px;

    border: 1px solid #666;
    box-shadow: 0px 1px 1px #333;
    background: #fff;
    border-radius: 5px;
}

.modal-content.full-screen{
    max-width:100%;
    border-radius: 0px;
    top: 0px;
    bottom: 0px;
    position: fixed;
}

.modal-content.white{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #666;
    box-shadow: 0px 1px 1px #333;
    padding: 24px;
    border-radius: 5px;
    background: #fff;

}

span.dismiss-modal{
    border: 0;
    position: absolute;
    padding:5px;
    right: 0px;
    font-size: 20px;
    font-weight: 200;
    color: red;
    text-shadow: 0px 1px 2px #ccc;

    z-index: 9999999;
}

span.dismiss-modal:hover{
    cursor:pointer;
    text-decoration:none;
    webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

}

.home-search-form{
    top: 30%;
    position: relative;

    ::-webkit-input-placeholder {
    color: #fff;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: #fff;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: #fff;  
    }

    :-ms-input-placeholder {  
       color: #fff;  
    }
}

input.transparent{
    background: none;
    outline: none;
}

.search-code-input{
    border: none;
    border-bottom: 2px solid #fff;
    padding: 10px;
    color: #fff;
}