// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.simple-landing-container, .medium-landing-container{
	position: relative;
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
	text-align: center;

	a{

    	font-size: 20px;
    	color: #fff;
    		
   	}

	form{
		
		padding: 30px;
    	margin-bottom: 30px;
    	
    	input[type="submit"]{
    		display: block;
    		margin: 0 auto;
    		width: 100%;
    		max-width: 300px;
    		margin-top: 30px;
    	}

    	.welcome-select-input{
    		display: none;
    	}

    	.field{

	    	input{
	    		padding: 10px 0px;
	    		width: 100%;
	    		max-width: 300px;
	    		margin-bottom: 10px;
	    		text-align: center;
	    		font-size: 20px;
	    	}

	    	input:focus{

	    		outline:none;

	    	}

    	}

    	select{
    		
    		font-size: 40px;
    		margin-bottom: 30px;
    	}

	}

	form.outlined{
		
		border: 2px solid #999;
		border-radius: 3px;
		background: #fff;
    	box-shadow: 0px 1px 4px #aaa;
	}

	h2{
		
		font-size: 60px;
    	font-weight: 400;
    	margin-bottom: 30px;
   		text-shadow: 0px 1px 0px #a6a;
    	color: #222;

	}

	.dark-text-input{
		font-size: 40px;
    	text-align: center;
	    max-width: 200px;
	    width: 100%;
	    display: inline-block;
	    margin: 0 auto;
	    border: none;
	    border-radius: 3px;
	    background: #333;
	    color: #fff;
	    padding: 10px 0px;
	}

	.dark-text-input:focus{
		border:none;
		outline: #fff;
	}
}

.medium-landing-container{
	max-width: 900px;
}

.button-container{
	margin: 30px 0px;
	text-align: center;
}

.button{
	padding: 10px 25px;
    border-radius: 5px;
    
    display: inline-block;
    margin: 5px auto;
    text-align: center;
}

.button:hover{
	cursor: pointer;
	color: #fff;
}

.button.medium{
	max-width: 300px;
	width:100%;
    font-size: 20px;
}

.button.large{
	max-width: 400px;
	width: 100%;
	font-size: 28px;
}

.blue-background{
	text-shadow: 0px 1px 2px #222;
    background-color: #0F4DA8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#437dd4), to(#0f4da8));
    background-image: -webkit-linear-gradient(top, #437dd4, #0f4da8);
    background-image: -moz-linear-gradient(top, #437dd4, #0f4da8);
    background-image: -ms-linear-gradient(top, #437dd4, #0f4da8);
    background-image: -o-linear-gradient(top, #437dd4, #0f4da8);
    background-image: linear-gradient(top, #437dd4, #0f4da8);
    border: 1px solid rgba(0,0,200,0.5);
    box-shadow: inset 0px 1px 3px 0px #ccc;
    color: #eee;
    
}

.green-background{
	text-shadow: 0px 1px 2px #222;
    background-color: #008c00;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4BA614), to(#008c00));
    background-image: -webkit-linear-gradient(top, #4BA614, #008c00);
    background-image: -moz-linear-gradient(top, #4BA614, #008c00);
    background-image: -ms-linear-gradient(top, #4BA614, #008c00);
    background-image: -o-linear-gradient(top, #4BA614, #008c00);
    background-image: linear-gradient(top, #4BA614, #008c00);
    border: 1px solid rgba(0,200,0,0.5);
    box-shadow: inset 0px 1px 3px 0px #ccc;
    color: #eee;
    
}

.red-background{
	background-color: #D31027;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#D31027), to(#D31027));
    background-image: -webkit-linear-gradient(top, #D31027, #D31027);
    background-image: -moz-linear-gradient(top, #D31027, #D31027);
    background-image: -ms-linear-gradient(top, #D31027, #D31027);
    background-image: -o-linear-gradient(top, #D31027, #D31027);
    background-image: linear-gradient(top, #D31027, #D31027);
    border: 1px solid #B20E21;
    box-shadow: inset 0px 1px 3px 0px #ccc;
    color: #fff;
    text-shadow: 0px 1px 1px #111;
}

span.divider-text{
	font-size: 30px;
    color: #999;
    font-weight: 800;
    color: #333;
    text-shadow: 0px 2px 2px #ddd;
}

table.form-table{

	font-size: 16px;
	margin: 0px auto;
	max-width: 550px;

	td{
		padding-bottom: 20px;
		padding-right: 20px;

		input, select#exhibition_city_id {
			width: 100%;
			padding: 5px 0px;
		}

	}
}


.empty-cta-container{
	
	padding: 20px;
	display: block;
	border: 3px dashed #888;
	background: rgba(255,255,0,.5);
	margin: 20px auto;
}

.image-input-container{
	width:100%;
	background: #ccc;
	border: 1px solid #999;
	padding: 30px;
	margin: 40px 0px;

	h2{
		
		margin-bottom: 20px;

	}

	input.form-control{
		display: inline-block;
    	border: 2px solid #0000ff;
	    box-shadow: 0px 1px 1px #ccc;
	    height: 50px;
	    padding: 15px;
	    color: #111;
	    background: #ffff99;
	    max-width: 500px;
	}

	input.form-control:hover{
		cursor: pointer;
	}
}

ul.horizontal{
	
	list-style-type: none;
    margin: 0;
    margin-bottom: -1px;
    padding: 0;
    display: block;
	
	li{

		display: inline-block;
        text-align: center;
        vertical-align: top;

		a{

			display: block;
            font-size: 18px;
            font-weight: 600;
            padding: 10px;
           	letter-spacing: 1.5px;
           	text-shadow: 0px 1px 1px #ccc;
           	color: #222;
		}

		a.light{
			color: #fff;
		}

		a.stats{
			
			box-shadow: 0px 2px 3px #666;
    		background: #ddd;

    		span.stats-header{

    			font-size: 40px;
    			font-weight: 700;
    		}

    		span.stats-data{

    			font-size: 30px;
    			
    		}
		}

		a:hover{
			cursor: pointer;
		}

		a.active{
            
            border-bottom: 3px solid #fff;

        }

	}

	li.active{
		background: #fff;
		border: 1px solid #ccc;

		a{
			color: #111;
			text-shadow: none;
		}
	}

}

form.edit_user_settings{
	
	font-size: 20px;

	input, label{
		
		font-size: 20px;

		}

	input, textarea{
		width: 100%;
    	max-width: 400px;
    	padding: 5px 0px;
    	text-indent: 5px;
	}

	textarea{
		resize: none;
		height: 150px;
	}
    	
}

table.sales-index{
	
	width: 100%;

	font-size: 20px;

	tr{

		border-bottom: 1px solid #D31027;
		

		td{
			text-align:center;
			padding: 10px 0px;
		}
	}
}
