// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'https://fonts.googleapis.com/css?family=Lobster';

@import url('https://fonts.googleapis.com/css?family=Martel');

html{
	

	body{

		font-family: 'Lato', sans-serif;
    	font-family: 'Martel', serif;
    	color: #000;

    	-webkit-font-smoothing: antialiased;

	    .form-container{
	    	max-width: 500px;
	    	margin:0 auto;

	    	label{
				font-weight: 700;
			}


	    	input, textarea, select{
	    		display: block;
	    		width: 100%;
	    	}
	    }

	    h1{

	        font-size: 3em;
	        margin: 0 0 0.8em 0;
	  
	    }

	    .darker-text{
			color: #000;
		}

		.inactive-option-text{
			color: #777;
		}
	}

}

