<div class="phase-header">

  <ul class="horizontal">
    <li><span class="circular-number list">1</span><span class="<% if @step_title =="select_gallery"%>active<%end%> step">Select Gallery</span></li>
    <li><span class="circular-number list">2</span><span class="<% if @step_title =="select_artwork"%>active<%end%> step">Choose Artwork</span></li>
    <li><span class="circular-number list">3</span><span class="<% if @step_title =="confirm_pay"%>active<%end%> step">Confirm & Pay</span></li>

  </ul>

</div>