<div class="content">

	<h2>Affiliate Dashboard</h2>

	<p>Your Affiliate Link: <a href="<%= current_user.affiliate_link %>"><%= current_user.affiliate_link %></a></p>

	<br>

	<div class="centered">

		<ul class="horizontal">

			<li class="selected affiliate-summary-option" data-time-option="this-month"><a>This Month</a></li>
			<li class="affiliate-summary-option" data-time-option="this-year"><a>This Year</a></li>
			<li class="affiliate-summary-option" data-time-option="all-time"><a>All Time</a></li>

		</ul>

		<br>

		<div class="table-stats affiliate-summary" id="this-month">

			<div class="table-entry">
				<div class="table-data"><h4>Clicks</h4><h4>128</h4></div>
			</div>
			<div class="table-entry">
				<div class="table-data"><h4>Signups</h4><h4>45</h4></div>
			</div>
			<div class="table-entry">
				<div class="table-data"><h4>Commissions</h4><h4>$520</h4></div>
			</div>

		</div>

		<div class="table-stats affiliate-summary default-off" id="this-year">

			<div class="table-entry">
				<div class="table-data"><h4>Clicks</h4><h4>434</h4></div>
			</div>
			<div class="table-entry">
				<div class="table-data"><h4>Signups</h4><h4>66</h4></div>
			</div>
			<div class="table-entry">
				<div class="table-data"><h4>Commissions</h4><h4>$2554</h4></div>
			</div>

		</div>

		<div class="table-stats affiliate-summary default-off" id="all-time">

			<div class="table-entry">
				<div class="table-data"><h4>Clicks</h4><h4>76767</h4></div>
			</div>
			<div class="table-entry">
				<div class="table-data"><h4>Signups</h4><h4>1899</h4></div>
			</div>
			<div class="table-entry">
				<div class="table-data"><h4>Commissions</h4><h4>$6554</h4></div>
			</div>

		</div>

		<br>
		<br>

		<div class="table-stats">

			<table>
				<tr>
					<th>Date</th>
					<th>Channel</th>
					<th>Referral URL</th>
				</tr>

				<% current_user.affiliate_referrals.each do |affiliate_referral| %>
				<tr>
					<td><%= affiliate_referral.created_at %></td>
					<td>None</td>
					<td><%= affiliate_referral.referral_url %></td>
				</tr>

				<%end%>

			</table>

		</div>

		<div class="table-stats">

			<table>
				<tr>
					<th>Date</th>
					<th>Channel</th>
					<th>Referral URL</th>
					<th>Type</th>
				</tr>

				<tr>
					<td>August 31, 2010</td>
					<td>None</td>
					<td>http://ArtSpot.com</td>
					<td>Recurring</td>
				</tr>

			</table>

		</div>

	</div>

</div>