<div class="content">

	<div class="content-inner">

		<%= form_tag update_contact_for_order_path(@order.id), id: 'chargeForm' do %>

			<h4>Contact Information:</h4>

			<div>

				<label>Email</label>

				<div class="input-container">

					<input type="email" name="email" required <%if user_signed_in?%>value="<%= current_user.email %>"<%end%>></input>

				</div>

				<label>Contact Name</label>

				<div class="input-container">

					<input type="text" name="fullName" required></input>

				</div>

			</div>

			<br>

			<button class="button stretch blue-background">Next</button>

		<% end %>

	</div>

</div>