<div class="content">

	<div class="content-inner">

		<% if flash[:error] %>

		  <div class="notice red">

		        <span class="glyphicon glyphicon-remove dismiss-parent"></span>

		        <p class="notice-content red">
		          <span class="glyphicon glyphicon-exclamation-sign"></span> <%= flash[:error] %>
		        </p>

		  </div>

		<%end%>


		<%= form_tag create_customer_path, id: 'chargeForm' do %>

		<input type="hidden" name="order_id" value="<%= @order.id %>"></input>

		<h4>Enter your payment details<span class="glyphicon glyphicon-lock"></span></h4>

		<label>Card number</label>

		<div class="input-container">

			<input type="text" name="cardNumber" id="cardNumberInput" class="cc-form card-number" maxlength="18"></input>

		</div>


		<div class="input-group">

			<label>Expiration Date</label>

			<br>

			<ul class="horizontal">

				<li><select class="cc-select" name='expMonth' id='expireMM'>
			    <option value=''>Month</option>
			    <option value='01'>01</option>
			    <option value='02'>02</option>
			    <option value='03'>03</option>
			    <option value='04'>04</option>
			    <option value='05'>05</option>
			    <option value='06'>06</option>
			    <option value='07'>07</option>
			    <option value='08'>08</option>
			    <option value='09'>09</option>
			    <option value='10'>10</option>
			    <option value='11'>11</option>
			    <option value='12'>12</option>
				</select></li>
				<li><select class="cc-select" name='expYear' id='expireYY'>
			    <option value=''>Year</option>
			    <option value='16'>2016</option>
			    <option value='17'>2017</option>
			    <option value='18'>2018</option>
			    <option value='18'>2019</option>
			    <option value='18'>2020</option>
			    <option value='18'>2021</option>
			    <option value='18'>2022</option>
				</select></li>

			</ul>

		</div>

		<div class="input-group">
			<label>Security Code</label>
			<br>
			<input type="text" name="cvc" class="cc-form card-cvc" maxlength="4"></input>
		</div>

		<br>

		<div class="input-container">

			<label>Name on card</label>

			<input type="text" name="nameOnCard" class="cc-form card-name"></input>

		</div>

		<br>

		<input type="submit" class="button stretch blue-background" value="Continue">

		<% end %>

	</div>

</div>