<div class="footer-container">

	<div class="footer-content">

		<ul>

			<li><%= link_to "About", about_path %></li>

			<li><%= link_to "Legal", root_path %></li>

			<% if user_signed_in?%>
			
				<li><a data-method="delete" href='<%= destroy_user_session_path%>'>Logout</a></li>
				
			<%end%>


		</ul>

	</div>

</div>