<div class="modal-container dark" id="mobile-menu">

    <span class="glyphicon glyphicon-remove dismiss-modal light"></span>

    <div class="dashboard-content">

      <div class="content-column sidebar">

        <%= render 'pages/user/dashboard_side_panel' %>

      </div>

    </div>

</div>
