<div class="mobile-action-footer-container mobile-only">

	<div class="mobile-action-footer-content">

		<ul>

			<li><a href='<%=new_item_art_path%>'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><br><span>Add Artwork</span></a></li>

			<li><a href="<%= portfolio_path %>"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span><br><span>Portfolio</span></a></li>
			
			<li><a href="<%= balance_path %>"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><br><span>Sales</span></a></li>

		</ul>

	</div>

</div>