<div class="mobile-action-footer-container mobile-only">

	<div class="mobile-action-footer-content">

		<ul>

			<li><a><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><br><span>Add Artwork</span></a></li>

			<li><a><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><br><span>Messages</span></a></li>
			
			<li><a><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><br><span>Sales</span></a></li>

		</ul>

	</div>

</div>