<div class="mobile-action-footer-container mobile-only">

	<div class="mobile-action-footer-content">

		<ul>

			<li><a href='<%= gallery_artists_path%>'><span class="glyphicon glyphicon-user" aria-hidden="true"></span><br><span>Artists</span></a></li>

			<li class="middle"><a href="<%= works_path %>"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span><br><span>Works</span></a></li>
			
			<li><a href="<%= sales_path %>"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><br><span>Sales</span></a></li>

		</ul>

	</div>

</div>